<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:type" content="website">
    <meta name="description"
          content="This page provides details about {{ college.name }} in 2019. Here you can find supporting data on disciplines, admissions, student completion, costs, debt and repayment, financial aid, earnings, and more.">
    <meta property="og:description"
          content="This page provides details about {{ college.name }} in 2019. Here you can find supporting data on disciplines, admissions, student completion, costs, debt and repayment, financial aid, earnings, and more.">
    <meta name="twitter:description"
          content="This page provides details about {{ college.name }} in 2019. Here you can find supporting data on disciplines, admissions, student completion, costs, debt and repayment, financial aid, earnings, and more.">
    <link rel="canonical" href="{% url 'college_app:college_slug' college_id college_slug %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>{{ college.name }}: disciplines, costs, financial aid, admissions</title>
    <meta property="og:title" content="{{ college.name }}: disciplines, costs, financial aid, admissions">
    <meta name="twitter:title" content="{{ college.name }}: disciplines, costs, financial aid, admissions">
    {% load mathfilters %}
    {% load humanize %}
    {% load static %}
    {% load bar_parcent %}
    <link rel="stylesheet" href="{% static 'open_data_app/css/circle.css' %}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>{{ college.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a href="#">{{ college.url }}</a>
                    <p>{{ college.zip }} {{ college.city }}, {{ college.state }}</p>
                    <p>Lat: {{ college.latitude }}</p>
                    <p>Long: {{ college.longitude }}</p>
                    <p>{{ college.locale }}</p>
                    <p>Undergraduate: {{ college.undergrad_students|floatformat:"0"|intcomma }}</p>
                    <p>Religion: {{ college.religous }}</p>
                    <p>Ownership: {{ college.ownership }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="col-12 card-header" data-toggle="collapse" data-target="#academics" aria-expanded="false"
                     aria-controls="academics">
                    <h3>Academics</h3>
                </div>
                <div class="col-12 card-body collapse show" id="academics">
                    <p>Degree: {{ college.highest_grad_degree }}</p>
                    <p>Carnegie: {{ college.carnegie_basic }}</p>
                    <p>Online-only: {{ college.online_only }}</p>
                    <p>Level: {{ college.inst_level }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="col-12 card-header" data-toggle="collapse" data-target="#disciplines" aria-expanded="true"
                     aria-controls="disciplines">
                    <h3>Disciplines</h3>
                </div>
                <div class="col-12 card-body collapse show" id="disciplines">
                    <div class="row">
                        {% if top_disciplines %}
                            <div class="col-6">
                                <h3>Top</h3>
                                {% for discipline in top_disciplines %}
                                    <div class="discipline">
                                        <p>{{ discipline.0 }}:</p>
                                        <div class="progress" style="height: 20px;">
                                            <div class="progress-bar bg-info" role="progressbar"
                                                 style="width: {{ discipline.1 }}%;"
                                                 aria-valuenow="{{ discipline.1 }}"
                                                 aria-valuemin="0" aria-valuemax="100">
                                                {{ discipline.1 }}%
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="col-6">
                            <h3>All</h3>
                            {% for discipline in college_disciplines %}
                                <div class="discipline">
                                    <p>{{ discipline.0 }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="col-12 card-header" data-toggle="collapse" data-target="#admissios" aria-expanded="true"
                     aria-controls="admissios">
                    <h3>Admissions</h3>
                </div>
                <div class="col-12 card-body collapse show" id="admissios">
                    {% if college.admission_rate %}
                        <div class="row">
                            <div class="col-12">
                                <p>Admission rate</p>
                            </div>
                            <div class="col-12">
                                <div class="c100 p{{ college.admission_rate|mul:100|floatformat:"0" }}">
                                    <span>{{ college.admission_rate|mul:100|floatformat:"0" }}%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-6">
                            <p>SAT average</p>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-info" role="progressbar"
                                     style="width: {{ college.sat_average|floatformat:"0"|bar_percent:'1600' }}%;"
                                     aria-valuenow="{{ college.sat_average|floatformat:"0"|bar_percent:'1600' }}"
                                     aria-valuemin="0" aria-valuemax="100">
                                    {% if college.sat_average %}{{ college.sat_average|floatformat:"0" }}{% else %}No
                                        data{% endif %}
                                </div>
                            </div>
                            <p>Reading</p>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-info" role="progressbar"
                                     style="width: {{ college.sat_reading|floatformat:"0"|bar_percent:'800' }}%;"
                                     aria-valuenow="{{ college.sat_reading|floatformat:"0"|bar_percent:'800' }}"
                                     aria-valuemin="0" aria-valuemax="100">
                                    {% if college.sat_reading %}{{ college.sat_reading|floatformat:"0" }}{% else %}No
                                        data{% endif %}
                                </div>
                            </div>
                            <p>Math</p>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-info" role="progressbar"
                                     style="width: {{ college.sat_math|floatformat:"0"|bar_percent:'800' }}%;"
                                     aria-valuenow="{{ college.sat_math|floatformat:"0"|bar_percent:'800' }}"
                                     aria-valuemin="0" aria-valuemax="100">
                                    {% if college.sat_math %}{{ college.sat_math|floatformat:"0" }}{% else %}No
                                        data{% endif %}
                                </div>
                            </div>
                            <p>Writing</p>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-info" role="progressbar"
                                     style="width: {{ college.sat_writing|floatformat:"0"|bar_percent:'800' }}%;"
                                     aria-valuenow="{{ college.sat_writing|floatformat:"0"|bar_percent:'800' }}"
                                     aria-valuemin="0" aria-valuemax="100">
                                    {% if college.sat_writing %}{{ college.sat_writing|floatformat:"0" }}{% else %}No
                                        data{% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <p>ACT cumulative</p>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-info" role="progressbar"
                                     style="width: {{ college.act_cumulative|floatformat:"0"|bar_percent:'36' }}%;"
                                     aria-valuenow="{{ college.act_cumulative|floatformat:"0"|bar_percent:'36' }}"
                                     aria-valuemin="0" aria-valuemax="100">
                                    {% if college.act_cumulative %}
                                        {{ college.act_cumulative|floatformat:"0" }}{% else %}No data{% endif %}
                                </div>
                            </div>
                            <p>English</p>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-info" role="progressbar"
                                     style="width: {{ college.act_english|floatformat:"0"|bar_percent:'36' }}%;"
                                     aria-valuenow="{{ college.act_english|floatformat:"0"|bar_percent:'36' }}"
                                     aria-valuemin="0" aria-valuemax="100">
                                    {% if college.act_english %}{{ college.act_english|floatformat:"0" }}{% else %}No
                                        data{% endif %}
                                </div>
                            </div>
                            <p>Math</p>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-info" role="progressbar"
                                     style="width: {{ college.act_math|floatformat:"0"|bar_percent:'36' }}%;"
                                     aria-valuenow="{{ college.act_math|floatformat:"0"|bar_percent:'36' }}"
                                     aria-valuemin="0" aria-valuemax="100">
                                    {% if college.act_math %}{{ college.act_math|floatformat:"0" }}{% else %}No
                                        data{% endif %}
                                </div>
                            </div>
                            <p>Writing</p>
                            <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-info" role="progressbar"
                                     style="width: {{ college.act_writing|floatformat:"0"|bar_percent:'36' }}%;"
                                     aria-valuenow="{{ college.act_writing|floatformat:"0"|bar_percent:'36' }}"
                                     aria-valuemin="0" aria-valuemax="100">
                                    {% if college.act_writing %}{{ college.act_writing|floatformat:"0" }}{% else %}No
                                        data{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="col-12 card-header" data-toggle="collapse" data-target="#completion" aria-expanded="true"
                     aria-controls="completion">
                    <h3>Completion</h3>
                </div>
                <div class="col-12 card-body collapse show" id="completion">
                    {% if college.completion_rate_four_year %}
                        <div class="row">
                            <div class="col-12">
                                <p>Completion rate 4 year</p>
                            </div>
                            <div class="col-12">
                                <div class="c100 p{{ college.completion_rate_four_year|mul:100|floatformat:"0" }}">
                                    <span>{{ college.completion_rate_four_year|mul:100|floatformat:"0" }}%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if college.completion_rate_less_four_year %}
                        <div class="row">
                            <div class="col-12">
                                <p>Completion rate less 4 year</p>
                            </div>
                            <div class="col-12">
                                <div class="c100 p{{ college.completion_rate_less_four_year|mul:100|floatformat:"0" }}">
                                    <span>{{ college.completion_rate_less_four_year|mul:100|floatformat:"0" }}%</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="col-12 card-header" data-toggle="collapse" data-target="#demography" aria-expanded="true"
                     aria-controls="demography">
                    <h3>Demography</h3>
                </div>
                <div class="col-12 card-body collapse show" id="demography">
                    <div class="row">
                        <div class="col-6">
                            <p>Race:</p>
                            {% if college.students_white > 0 %}
                                <p>White</p>
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: {{ college.students_white|mul:100|floatformat:"2" }}%;"
                                         aria-valuenow="{{ college.students_white|mul:100|floatformat:"2" }}"
                                         aria-valuemin="0" aria-valuemax="100">
                                        {{ college.students_white|mul:100|floatformat:"2" }}%
                                    </div>
                                </div>
                            {% endif %}
                            {% if college.students_black > 0 %}
                                <p>Black</p>
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: {{ college.students_black|mul:100|floatformat:"2" }}%;"
                                         aria-valuenow="{{ college.students_black|mul:100|floatformat:"2" }}"
                                         aria-valuemin="0" aria-valuemax="100">
                                        {{ college.students_black|mul:100|floatformat:"2" }}%
                                    </div>
                                </div>
                            {% endif %}
                            {% if college.students_hispanic > 0 %}
                                <p>Hispanic</p>
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: {{ college.students_hispanic|mul:100|floatformat:"2" }}%;"
                                         aria-valuenow="{{ college.students_hispanic|mul:100|floatformat:"2" }}"
                                         aria-valuemin="0" aria-valuemax="100">
                                        {{ college.students_hispanic|mul:100|floatformat:"2" }}%
                                    </div>
                                </div>
                            {% endif %}
                            {% if college.students_asian > 0 %}
                                <p>Asian</p>
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: {{ college.students_asian|mul:100|floatformat:"2" }}%;"
                                         aria-valuenow="{{ college.students_asian|mul:100|floatformat:"2" }}"
                                         aria-valuemin="0" aria-valuemax="100">
                                        {{ college.students_asian|mul:100|floatformat:"2" }}%
                                    </div>
                                </div>
                            {% endif %}
                            {% if college.students_native > 0 %}
                                <p>Native</p>
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: {{ college.students_native|mul:100|floatformat:"2" }}%;"
                                         aria-valuenow="{{ college.students_native|mul:100|floatformat:"2" }}"
                                         aria-valuemin="0" aria-valuemax="100">
                                        {{ college.students_native|mul:100|floatformat:"2" }}%
                                    </div>
                                </div>
                            {% endif %}
                            {% if college.students_pacific > 0 %}
                                <p>Pacific</p>
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: {{ college.students_pacific|mul:100|floatformat:"2" }}%;"
                                         aria-valuenow="{{ college.students_pacific|mul:100|floatformat:"2" }}"
                                         aria-valuemin="0" aria-valuemax="100">
                                        {{ college.students_pacific|mul:100|floatformat:"2" }}%
                                    </div>
                                </div>
                            {% endif %}
                            {% if college.students_multiple_races > 0 %}
                                <p>Multiple races</p>
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: {{ college.students_multiple_races|mul:100|floatformat:"2" }}%;"
                                         aria-valuenow="{{ college.students_multiple_races|mul:100|floatformat:"2" }}"
                                         aria-valuemin="0" aria-valuemax="100">
                                        {{ college.students_multiple_races|mul:100|floatformat:"2" }}%
                                    </div>
                                </div>
                            {% endif %}
                            {% if college.students_non_resident > 0 %}
                                <p>Non-resident</p>
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: {{ college.students_non_resident|mul:100|floatformat:"2" }}%;"
                                         aria-valuenow="{{ college.students_non_resident|mul:100|floatformat:"2" }}"
                                         aria-valuemin="0" aria-valuemax="100">
                                        {{ college.students_non_resident|mul:100|floatformat:"2" }}%
                                    </div>
                                </div>
                            {% endif %}
                            {% if college.students_unknown_race > 0 %}
                                <p>Unknown races</p>
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: {{ college.students_unknown_race|mul:100|floatformat:"2" }}%;"
                                         aria-valuenow="{{ college.students_unknown_race|mul:100|floatformat:"2" }}"
                                         aria-valuemin="0" aria-valuemax="100">
                                        {{ college.students_unknown_race|mul:100|floatformat:"2" }}%
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <p>Gender:</p>
                            <div class="row">
                                <div class="col-6">
                                    <p>Female</p>
                                    <div class="c100 p{{ college.students_female|mul:100|floatformat:"0" }}">
                                        <span>{{ college.students_female|mul:100|floatformat:"0" }}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p>Male</p>
                                    <div class="c100 p{{ college.students_female|mul:100|sub:100|mul:-1|floatformat:"0" }}">
                                        <span>{{ college.students_female|mul:100|sub:100|mul:-1|floatformat:"0" }}%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <p>Men-only: {{ college.men_only }}</p>
                                    <p>Women-only: {{ college.women_only }}</p>
                                </div>
                                <div class="col-12">
                                    <p>Family income: {{ college.students_family_income|floatformat:"0"|intcomma }}$</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="col-12 card-header" data-toggle="collapse" data-target="#aid" aria-expanded="true"
                     aria-controls="aid">
                    <h3>Aid</h3>
                </div>
                <div class="col-12 card-body collapse show" id="aid">
                    <p>Pell grand: {{ college.pell_grand|mul:100|floatformat:"0" }}%</p>
                    <p>Federal loan: {{ college.federal_loan|mul:100|floatformat:"0" }}%</p>
                    <p>Debt completed: {{ college.debt_completed|floatformat:"0"|intcomma }}$</p>
                    <p>Debt not completed: {{ college.debt_not_completed|floatformat:"0"|intcomma }}$</p>
                    <p>Monthly payments: {{ college.monthly_payments|floatformat:"0"|intcomma }}$</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="col-12 card-header" data-toggle="collapse" data-target="#cost" aria-expanded="true"
                     aria-controls="cost">
                    <h3>Cost</h3>
                </div>
                <div class="col-12 card-body collapse show" id="cost">
                    <p>Net price public: {{ college.average_net_price_public|floatformat:"0"|intcomma }}$</p>
                    <p>Net price private: {{ college.average_net_price_private|floatformat:"0"|intcomma }}$</p>
                    <p>Average cost academic: {{ college.average_cost_of_attendance_academic|floatformat:"0"|intcomma }}$</p>
                    <p>Average cost
                        program: {{ college.average_cost_of_attendance_program|floatformat:"0"|intcomma }}$</p>
                    <p>In state tuition: {{ college.in_state_tuition|floatformat:"0"|intcomma }}$</p>
                    <p>Out state tuition: {{ college.out_state_tuition|floatformat:"0"|intcomma }}$</p>
                    <p>Public 30: {{ college.average_net_price_pub_30|floatformat:"0"|intcomma }}$</p>
                    <p>Public 48: {{ college.average_net_price_pub_48|floatformat:"0"|intcomma }}$</p>
                    <p>Public 75: {{ college.average_net_price_pub_75|floatformat:"0"|intcomma }}$</p>
                    <p>Public 110: {{ college.average_net_price_pub_110|floatformat:"0"|intcomma }}$</p>
                    <p>Public >100: {{ college.average_net_price_pub_110_plus|floatformat:"0"|intcomma }}$</p>
                    <p>Private 30: {{ college.average_net_price_priv_30|floatformat:"0"|intcomma }}$</p>
                    <p>Private 48: {{ college.average_net_price_priv_48|floatformat:"0"|intcomma }}$</p>
                    <p>Private 75: {{ college.average_net_price_priv_75|floatformat:"0"|intcomma }}$</p>
                    <p>Private 110: {{ college.average_net_price_priv_110|floatformat:"0"|intcomma }}$</p>
                    <p>Private >110: {{ college.average_net_price_priv_110_plus|floatformat:"0"|intcomma }}$</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="col-12 card-header" data-toggle="collapse" data-target="#earnings" aria-expanded="true"
                     aria-controls="earnings">
                    <h3>Earnings</h3>
                </div>
                <div class="col-12 card-body collapse show" id="earnings">
                    <p>{{ college.mean_earnings|floatformat:"0"|intcomma }}$</p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>