{% extends "inner_page.html" %}

{% load static %}

{% block robots %}
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block description %}
    <meta name="description" content="Favourite colleges">
{% endblock %}

{% block title %}
    <title>Favourite colleges</title>
{% endblock %}

{% block content %}
    <noscript>
      <strong>We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
{% endblock %}

{% block scripts %}
    {% if debug %}
        <script src="{% static 'open_data_app/js/build/dev.bundle.js' %}"></script>
    {% else %}
        <script src="{% static 'open_data_app/dist/prod.bundle.js' %}"></script>
    {% endif %}
{% endblock %}