<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:type" content="website">
    {# noindex for dynamic filter pages #}
    {% if noindex %}
        <meta name="robots" content="noindex, follow">
    {% else %}
        <meta name="robots" content="index, follow">
    {% endif %}

    {# description #}
    <meta name="description" content="{{ seo_description }}">
    <meta property="og:description" content="{{ seo_description }}">
    <meta name="twitter:description" content="{{ seo_description }}">


    {% if params %}
        {# canonical page #}
        {% if colleges.number > 1 %}
            <link rel="canonical" href="{{ canonical }}?page={{ colleges.number }}&{{ params|safe }}">
        {% else %}
            <link rel="canonical" href="{{ canonical }}?{{ params|safe }}">
        {% endif %}
        {# next page #}
        {% if colleges.has_next %}
            <link rel="next" href="{{ canonical }}?page={{ colleges.next_page_number }}&{{ params|safe }}">
        {% endif %}
        {# prev page #}
        {% if colleges.has_previous %}
            {% if colleges.previous_page_number == 1 %}
                <link rel="prev" href="{{ canonical }}?{{ params|safe }}">
            {% else %}
                <link rel="prev" href="{{ canonical }}?page={{ colleges.previous_page_number }}&{{ params|safe }}">
            {% endif %}
        {% endif %}
    {% else %}
        {# canonical page #}
        {% if colleges.number > 1 %}
            <link rel="canonical" href="{{ canonical }}?page={{ colleges.number }}">
        {% else %}
            <link rel="canonical" href="{{ canonical }}">
        {% endif %}
        {# next page #}
        {% if colleges.has_next %}
            <link rel="next" href="{{ canonical }}?page={{ colleges.next_page_number }}">
        {% endif %}
        {# prev page #}
        {% if colleges.has_previous %}
            {% if colleges.previous_page_number == 1 %}
                <link rel="prev" href="{{ canonical }}">
            {% else %}
                <link rel="prev" href="{{ canonical }}?page={{ colleges.previous_page_number }}">
            {% endif %}
        {% endif %}
    {% endif %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    {% load mathfilters %}
    {% load humanize %}
    {% load bar_parcent %}
    <title>{{ seo_title }}{% if colleges.number > 1 %} - Page {{ colleges.number }}{% endif %}</title>
    <meta property="og:title" content="{{ seo_title }}">
    <meta name="twitter:title" content="{{ seo_title }}">
</head>
<body>
<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">USA COLLEGES</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'college_app:search' %}">
                <input class="form-control mr-sm-2" type="search" name="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {% if geo %}
        <h1>Colleges of {{ geo }}: {{ second_filter }}</h1>
    {% elif second_filter %}
        <h1>Colleges: {{ second_filter }}</h1>
    {% elif init_filter_val %}
        <h1>Colleges: {{ init_filter_val }}</h1>
    {% elif serach_query %}
        <h1>Search: {{ serach_query }}</h1>
    {% else %}
        <h1>Results</h1>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'college_app:index' %}">Home</a></li>
                    {% if state_view %}
                        <li class="breadcrumb-item"><a href="{% url 'college_app:state' state_id %}">{{ geo }}</a></li>
                    {% elif geo %}
                        <li class="breadcrumb-item"><a href="{% url 'college_app:region' region_id %}">{{ geo }}</a>
                        </li>
                    {% elif init_param and init_param_value %}
                        <li class="breadcrumb-item"><a
                                href="{% url 'college_app:filter_values' init_param init_param_value %}">{{ init_filter_val }}</a>
                        </li>
                    {% elif init_param %}
                        <li class="breadcrumb-item"><a
                                href="{% url 'college_app:filter_no_values' init_param %}">{{ init_filter_val }}</a>
                        </li>
                    {% elif serach_query %}
                        <li class="breadcrumb-item"><span>Search</span></li>
                    {% endif %}
                    {% if second_filter %}
                        <li class="breadcrumb-item"><a href="{{ base_url }}">{{ second_filter }}</a></li>
                    {% endif %}
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">
                    Sort
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item"
                       onclick="addParam('sort=in_state_tuition')">Tuition ↑</a>
                    <a class="dropdown-item"
                       onclick="addParam('sort=-in_state_tuition')">Tuition ↓</a>
                    <a class="dropdown-item"
                       onclick="addParam('sort=mean_earnings')">Earnings ↑</a>
                    <a class="dropdown-item"
                       onclick="addParam('sort=-mean_earnings')">Earnings ↓</a>
                    <a class="dropdown-item"
                       onclick="addParam('sort=monthly_payments')">Monthly payments ↑</a>
                    <a class="dropdown-item"
                       onclick="addParam('sort=-monthly_payments')">Monthly payments ↓</a>
                    <a class="dropdown-item"
                       onclick="addParam('sort=undergrad_students')">Undergraduates ↑</a>
                    <a class="dropdown-item"
                       onclick="addParam('sort=-undergrad_students')">Undergraduates ↓</a>
                    <a class="dropdown-item"
                       onclick="addParam('sort=admission_rate')">Admission rate ↑</a>
                    <a class="dropdown-item"
                       onclick="addParam('sort=-admission_rate')">Admission rate ↓</a>
                    <a class="dropdown-item"
                       onclick="addParam('sort=completion_rate_four_year')">Completion rate ↑</a>
                    <a class="dropdown-item"
                       onclick="addParam('sort=-completion_rate_four_year')">Completion rate ↓</a>
                </div>
            </div>
        </div>
    </div>

    {% if filters_vals|length > 0 or init_filter_val %}
        <div class="row">
            <div class="col-12">
                <span>Filters applied:</span>
                {% if geo %}
                    <span class="badge badge-light">{{ geo }}</span>
                {% endif %}
                {% if init_filter_val %}
                    <span class="badge badge-light">{{ init_filter_val }}</span>
                {% endif %}
                {% if query_val %}
                    <span class="badge badge-light">{{ query_val }}</span>
                {% endif %}
                {% if serach_query %}
                    <span class="badge badge-light">{{ serach_query }}</span>
                {% endif %}
                {% for val in filters_vals %}
                    <span class="badge badge-light">{{ val }}</span>
                {% endfor %}
                <p><a href="{% url 'college_app:main_filter' %}">Reset filters</a></p>
                <p>Colleges found: {{ colleges.paginator.count }}</p>
            </div>
        </div>
    {% endif %}


    <div class="row">
        <div class="col-2">
            {% if inst_level|length > 1 %}
                <div class="btn-group dropright">
                    <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">
                        Level
                    </div>
                    <div class="dropdown-menu">
                        {% for l in inst_level %}
                            <a class="dropdown-item"
                               onclick="addParam('inst_level={{ l.0 }}')">{{ l.1 }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if religous|length > 1 %}
                <div class="btn-group dropright">
                    <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">
                        Religion
                    </div>
                    <div class="dropdown-menu">
                        {% for r in religous %}
                            <a class="dropdown-item"
                               onclick="addParam('religous={{ r.0 }}')">{{ r.1 }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if carnegie_basic|length > 1 %}
                <div class="btn-group dropright">
                    <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">
                        Carnegie Basic
                    </div>
                    <div class="dropdown-menu">
                        {% for b in carnegie_basic %}
                            <a class="dropdown-item"
                               onclick="addParam('carnegie_basic={{ b.0 }}')">{{ b.1 }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if highest_grad_degree|length > 1 %}
                <div class="btn-group dropright">
                    <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">
                        Highest Degree
                    </div>
                    <div class="dropdown-menu">
                        {% for d in highest_grad_degree %}
                            <a class="dropdown-item"
                               onclick="addParam('highest_grad_degree={{ d.0 }}')">{{ d.1 }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if locale|length > 1 %}
                <div class="btn-group dropright">
                    <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">
                        Locale
                    </div>
                    <div class="dropdown-menu">
                        {% for l in locale %}
                            <a class="dropdown-item"
                               onclick="addParam('locale={{ l.0 }}')">{{ l.1 }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if ownership|length > 1 %}
                <div class="btn-group dropright">
                    <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">
                        Ownership
                    </div>
                    <div class="dropdown-menu">
                        {% for o in ownership %}
                            <a class="dropdown-item"
                               onclick="addParam('ownership={{ o.0 }}')">{{ o.1 }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if state_view and state|length > 1 %}
                <div class="btn-group dropright">
                    <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">
                        State
                    </div>
                    <div class="dropdown-menu">
                        {% for s in state %}
                            <a class="dropdown-item"
                               onclick="addParam('state={{ s.0 }}')">{{ s.1 }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if city|length > 1 %}
                <div class="btn-group dropright">
                    <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">
                        City/town
                    </div>
                    <div class="dropdown-menu">
                        {% for c in city %}
                            <a class="dropdown-item"
                               onclick="addParam('city_slug={{ c.1 }}')">{{ c.0 }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if hist_black|length > 1 %}
                <div class="btn-group dropright">
                    <div class="dropdown-toggle" data-toggle="dropdown"
                         aria-haspopup="true"
                         aria-expanded="false">
                        Historically black
                    </div>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="addParam('hist_black=0')">No</a>
                        <a class="dropdown-item" onclick="addParam('hist_black=1')">Yes</a>
                    </div>
                </div>
            {% endif %}

            {% if predom_black|length > 1 %}
                <div class="btn-group dropright">
                    <div class="dropdown-toggle" data-toggle="dropdown"
                         aria-haspopup="true"
                         aria-expanded="false">
                        Predominantely black
                    </div>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="addParam('predom_black=0')">No</a>
                        <a class="dropdown-item" onclick="addParam('predom_black=1')">Yes</a>
                    </div>
                </div>
            {% endif %}

            {% if hispanic|length > 1 %}
                <div class="btn-group dropright">
                    <div class="dropdown-toggle" data-toggle="dropdown"
                         aria-haspopup="true"
                         aria-expanded="false">
                        Hispanic
                    </div>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="addParam('hispanic=0')">No</a>
                        <a class="dropdown-item" onclick="addParam('hispanic=1')">Yes</a>
                    </div>
                </div>
            {% endif %}

            {% if men_only|length > 1 %}
                <div class="btn-group dropright">
                    <div class="dropdown-toggle" data-toggle="dropdown"
                         aria-haspopup="true"
                         aria-expanded="false">
                        Men-only
                    </div>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="addParam('men_only=0')">No</a>
                        <a class="dropdown-item" onclick="addParam('men_only=1')">Yes</a>
                    </div>
                </div>
            {% endif %}


            {% if women_only|length > 1 %}
                <div class="btn-group dropright">
                    <div class="dropdown-toggle" data-toggle="dropdown"
                         aria-haspopup="true"
                         aria-expanded="false">
                        Women-only
                    </div>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="addParam('women_only=0')">No</a>
                        <a class="dropdown-item" onclick="addParam('women_only=1')">Yes</a>
                    </div>
                </div>
            {% endif %}

            {% if online_only|length > 1 %}
                <div class="btn-group dropright">
                    <div class="dropdown-toggle" data-toggle="dropdown"
                         aria-haspopup="true"
                         aria-expanded="false">
                        Online-only
                    </div>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="addParam('online_only=0')">No</a>
                        <a class="dropdown-item" onclick="addParam('online_only=1')">Yes</a>
                    </div>
                </div>
            {% endif %}

            {% if cur_operating|length > 1 %}
                <div class="btn-group dropright">
                    <div class="dropdown-toggle" data-toggle="dropdown"
                         aria-haspopup="true"
                         aria-expanded="false">
                        Currently operating
                    </div>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="addParam('cur_operating=0')">No</a>
                        <a class="dropdown-item" onclick="addParam('cur_operating=1')">Yes</a>
                    </div>
                </div>
            {% endif %}

            {% if academics %}
                <div class="btn-group dropright">
                    <div class="dropdown-toggle" data-toggle="dropdown"
                         aria-haspopup="true"
                         aria-expanded="false">
                        Programs
                    </div>
                    <div class="dropdown-menu">
                        {% for program in academics %}
                            <a class="dropdown-item" onclick="addParam('{{ program.0 }}=0')">{{ program.1 }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>


        <div class="col-10">
            <div class="row">
                {% if colleges|length > 1 %}
                    <div class="col-12">
                        <div id="map" style="width:100%; height:300px"></div>
                        <script>
                            var map;
                            var locations = [
                                {% for college in colleges %}
                                    [{{ college.latitude }}, {{ college.longitude }}, '{{ college.name }}', '{{ college.city }}', '{{ college.state }}'],
                                {% endfor %}
                            ]

                            function initMap() {
                                map = new google.maps.Map(document.getElementById('map'), {
                                    center: {
                                        lat: 46.589931,
                                        lng: -95.009003
                                    },
                                    zoom: 3
                                });
                                for (var i = 0; i < locations.length; i++) {
                                    var maker = new google.maps.Marker({
                                        position: {
                                            lat: locations[i][0],
                                            lng: locations[i][1]
                                        },
                                        map: map,
                                        title: locations[i][2] + '\n' + locations[i][3] + ', ' + locations[i][4]
                                    });
                                }
                            }
                        </script>
                    </div>
                    <div class="jumbotron col-12">
                        <div class="row">
                            <div class="col-4">
                                <div>
                                    <p>Average tuition:
                                        {% if average_tuition %}
                                            {{ average_tuition|floatformat:"0"|intcomma }}$
                                        {% else %}
                                            No data
                                        {% endif %}
                                    </p>
                                </div>
                                <div>
                                    <p>Max tuition:
                                        {% if max_tuition %}
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#maxTuition" aria-expanded="false"
                                                    aria-controls="maxTuition">
                                                {{ max_tuition|floatformat:"0"|intcomma }}$
                                            </button>
                                        {% else %}
                                            <span>No data</span>
                                        {% endif %}
                                    </p>
                                </div>
                                {% if max_tuition %}
                                    <div id="maxTuition" class="collapse">
                                        {% for college in max_tuition_colleges %}
                                            <p>
                                                <a href="{% url 'college_app:college' college.id %}">{{ college.name }}</a>
                                            </p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div>
                                    <p>Min tuition:
                                        {% if min_tuition %}
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#minTuition" aria-expanded="false"
                                                    aria-controls="minTuition">
                                                {{ min_tuition|floatformat:"0"|intcomma }}$
                                            </button>
                                        {% else %}
                                            <span>No data</span>
                                        {% endif %}
                                    </p>
                                </div>
                                {% if min_tuition %}
                                    <div id="minTuition" class="collapse">
                                        {% for college in min_tuition_colleges %}
                                            <p>
                                                <a href="{% url 'college_app:college' college.id %}">{{ college.name }}</a>
                                            </p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-4">
                                <div>
                                    <p>Average monthly payments:
                                        {% if average_payments %}
                                            {{ average_payments|floatformat:"0"|intcomma }}$
                                        {% else %}
                                            No data
                                        {% endif %}
                                    </p>
                                </div>
                                <div>
                                    <p>Max monthly payments:
                                        {% if max_payments %}
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#maxPayments" aria-expanded="false"
                                                    aria-controls="maxPayments">
                                                {{ max_payments|floatformat:"0"|intcomma }}$
                                            </button>
                                        {% else %}
                                            <span>No data</span>
                                        {% endif %}
                                    </p>
                                </div>
                                {% if max_payments %}
                                    <div id="maxPayments" class="collapse">
                                        {% for college in max_payments_colleges %}
                                            <p>
                                                <a href="{% url 'college_app:college' college.id %}">{{ college.name }}</a>
                                            </p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div>
                                    <p>Min monthly payments:
                                        {% if min_payments %}
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#minPayments" aria-expanded="false"
                                                    aria-controls="minPayments">
                                                {{ min_payments|floatformat:"0"|intcomma }}$
                                            </button>
                                        {% else %}
                                            <span>No data</span>
                                        {% endif %}
                                    </p>
                                </div>
                                {% if min_payments %}
                                    <div id="minPayments" class="collapse">
                                        {% for college in min_payments_colleges %}
                                            <p>
                                                <a href="{% url 'college_app:college' college.id %}">{{ college.name }}</a>
                                            </p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-4">
                                <div>
                                    <p>Average earnings:
                                        {% if average_payments %}
                                            {{ average_earnings|floatformat:"0"|intcomma }}$
                                        {% else %}
                                            No data
                                        {% endif %}
                                    </p>
                                </div>
                                <div>
                                    <p>Max earnings:
                                        {% if max_earnings %}
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#maxEarnings" aria-expanded="false"
                                                    aria-controls="maxEarnings">{{ max_earnings|floatformat:"0"|intcomma }}$
                                            </button>
                                        {% else %}
                                            <span>No data</span>
                                        {% endif %}
                                    </p>
                                </div>
                                {% if max_earnings %}
                                    <div id="maxEarnings" class="collapse">
                                        {% for college in max_earnings_colleges %}
                                            <p>
                                                <a href="{% url 'college_app:college' college.id %}">{{ college.name }}</a>
                                            </p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div>
                                    <p>Min earnings:
                                        {% if min_earnings %}
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#minEarnings" aria-expanded="false"
                                                    aria-controls="minEarnings">
                                                {{ min_earnings|floatformat:"0"|intcomma }}$
                                            </button>
                                        {% else %}
                                            <span>No data</span>
                                        {% endif %}
                                    </p>
                                </div>
                                {% if min_earnings %}
                                    <div id="minEarnings" class="collapse">
                                        {% for college in min_earnings_colleges %}
                                            <p>
                                                <a href="{% url 'college_app:college' college.id %}">{{ college.name }}</a>
                                            </p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% for college in colleges %}
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <a href="{% url 'college_app:college' college.id %}">{{ college.name }}</a>
                                <p>{{ college.city }}, {{ college.state }}</p>
                            </div>
                            <div class="card-body">
                                <span>Monthly payments: </span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"
                                         style="width: {{ college.monthly_payments|bar_percent:max_payments }}%;"
                                         aria-valuenow="{{ college.monthly_payments|bar_percent:max_payments }}"
                                         aria-valuemin="0" aria-valuemax="100">{% if college.monthly_payments %}
                                        {{ college.monthly_payments|floatformat:"0"|intcomma }}${% else %}
                                        <span class="bar-no-data">No data</span>{% endif %}</div>
                                </div>
                                <span>Earnings:</span>
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-success" role="progressbar"
                                         style="width: {{ college.mean_earnings|bar_percent:max_earnings }}%;"
                                         aria-valuenow="{{ college.mean_earnings|bar_percent:max_earnings }}"
                                         aria-valuemin="0" aria-valuemax="100">{% if college.mean_earnings %}
                                        {{ college.mean_earnings|floatformat:"0"|intcomma }}${% else %}
                                        <span class="bar-no-data">No data</span>{% endif %}</div>
                                </div>
                                <span>In state tuition:</span>
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: {{ college.in_state_tuition|bar_percent:max_tuition }}%;"
                                         aria-valuenow="{{ college.in_state_tuition|bar_percent:max_tuition }}"
                                         aria-valuemin="0" aria-valuemax="100">{% if college.in_state_tuition %}
                                        {{ college.in_state_tuition|floatformat:"0"|intcomma }}${% else %}
                                        <span class="bar-no-data">No data</span>{% endif %}</div>
                                </div>
                                <span>Undergraduates:</span>
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                         style="width: {{ college.undergrad_students|bar_percent:max_undergrad }}%;"
                                         aria-valuenow="{{ college.undergrad_students|bar_percent:max_undergrad }}"
                                         aria-valuemin="0" aria-valuemax="100">{% if college.undergrad_students %}
                                        {{ college.undergrad_students|floatformat:"0"|intcomma }}{% else %}
                                        <span class="bar-no-data">No data</span>{% endif %}</div>
                                </div>
                                <span>Admission rate:</span>
                                <div class="progress" style="height: 20px;">
                                    <div class="progress-bar bg-danger" role="progressbar"
                                         style="width: {{ college.admission_rate|bar_percent:max_admission_rate }}%;"
                                         aria-valuenow="{{ college.admission_rate|bar_percent:max_admission_rate }}"
                                         aria-valuemin="0" aria-valuemax="100">{% if college.admission_rate %}
                                        {{ college.admission_rate|mul:100|floatformat:"0" }}%{% else %}
                                        <span class="bar-no-data">No data</span>{% endif %}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if colleges.paginator.num_pages > 1 %}
        <div class="row">
            <div class="col-12">
                {# pagination #}
                <nav aria-label="pagination">
                    {% if params %}
                        <span>
                            Page {{ colleges.number }} of {{ colleges.paginator.num_pages }}.
                        </span>
                        <ul class="pagination justify-content-center">
                            {% if colleges.has_previous %}
                                <li class="page-item"><a class="page-link" href="{{ base_url }}?{{ params }}">&laquo;
                                    first</a></li>
                                {% if colleges.previous_page_number == 1 %}
                                    <li class="page-item"><a class="page-link" href="{{ base_url }}?{{ params }}">previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page=
                                                                     {{ colleges.previous_page_number }}{{ params }}">previous</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if colleges.has_next %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ colleges.next_page_number }}&{{ params }}">next</a>
                                </li>
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ colleges.paginator.num_pages }}&{{ params }}">last&raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% else %}
                        <span>
                            Page {{ colleges.number }} of {{ colleges.paginator.num_pages }}.
                        </span>
                        <ul class="pagination justify-content-center">
                            {% if colleges.has_previous %}
                                <li class="page-item"><a class="page-link" href="{{ base_url }}">&laquo; first</a></li>
                                {% if colleges.previous_page_number == 1 %}
                                    <li class="page-item"><a class="page-link" href="{{ base_url }}">previous</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ colleges.previous_page_number }}">previous</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if colleges.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ colleges.next_page_number }}">next</a>
                                </li>
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ colleges.paginator.num_pages }}">last
                                    &raquo;</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
    {% endif %}
    <footer class="footer">
        <div class="container">@2019</div>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}&callback=initMap"
        async defer></script>
<script src="{% static 'open_data_app/js/scripts.js' %}"></script>
</body>
</html>