<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# noindex for dynamic filter pages #}
    {% if noindex %}
        <meta name="robots" content="noindex, follow">
    {% else %}
        <meta name="robots" content="index, follow">
    {% endif %}

    {# pagination #}
    {% if params %}
        {# canonical page #}
        {% if colleges.number > 1 %}
            <link rel="canonical" href="{{ canonical }}?page={{ colleges.number }}&{{ params|safe }}">
        {% else %}
            <link rel="canonical" href="{{ canonical }}?{{ params|safe }}">
        {% endif %}
        {# next page #}
        {% if colleges.has_next %}
            <link rel="next" href="{{ canonical }}?page={{ colleges.next_page_number }}&{{ params|safe }}">
        {% endif %}
        {# prev page #}
        {% if colleges.has_previous %}
            {% if colleges.previous_page_number == 1 %}
                <link rel="prev" href="{{ canonical }}?{{ params|safe }}">
            {% else %}
                <link rel="prev" href="{{ canonical }}?page={{ colleges.previous_page_number }}&{{ params|safe }}">
            {% endif %}
        {% endif %}
    {% else %}
        {# canonical page #}
        {% if colleges.number > 1 %}
            <link rel="canonical" href="{{ canonical }}?page={{ colleges.number }}">
        {% else %}
            <link rel="canonical" href="{{ canonical }}">
        {% endif %}
        {# next page #}
        {% if colleges.has_next %}
            <link rel="next" href="{{ canonical }}?page={{ colleges.next_page_number }}">
        {% endif %}
        {# prev page #}
        {% if colleges.has_previous %}
            {% if colleges.previous_page_number == 1 %}
                <link rel="prev" href="{{ canonical }}">
            {% else %}
                <link rel="prev" href="{{ canonical }}?page={{ colleges.previous_page_number }}">
            {% endif %}
        {% endif %}
    {% endif %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    {% load mathfilters %}
    {% load humanize %}
    <title>{{ seo_title }}</title>
</head>
<body>
<div class="container-fluid">
    {% if geo %}
        <h1>Colleges of {{ geo }}: {{ second_filter }}</h1>
    {% elif second_filter %}
        <h1>Colleges: {{ second_filter }}</h1>
    {% elif serach_query %}
        <h1>Search: {{ serach_query }}</h1>
    {% else %}
        <h1>Results</h1>
    {% endif %}
    <p>Colleges found: {{ colleges.paginator.count }}</p>
    <p>Average tuition: {{ average_tuition|floatformat:"0"|intcomma }}$</p>

    <p>Max tuition: {{ max_tuition|floatformat:"0"|intcomma }}$</p>
    {% for college in max_tuition_colleges %}
        <p><a href="{% url 'college_app:college' college.id %}">{{ college.name }}</a></p>
    {% endfor %}

    <p>Min tuition: {{ min_tuition|floatformat:"0"|intcomma }}$</p>
    {% for college in min_tuition_colleges %}
        <p><a href="{% url 'college_app:college' college.id %}">{{ college.name }}</a></p>
    {% endfor %}

    <p>Average monthly payments: {{ average_payments|floatformat:"0"|intcomma }}$</p>

    <p>Max monthly payments: {{ max_payments|floatformat:"0"|intcomma }}$</p>
    {% for college in max_payments_colleges %}
        <p><a href="{% url 'college_app:college' college.id %}">{{ college.name }}</a></p>
    {% endfor %}

    <p>Min monthly payments: {{ min_payments|floatformat:"0"|intcomma }}$</p>
    {% for college in min_payments_colleges %}
        <p><a href="{% url 'college_app:college' college.id %}">{{ college.name }}</a></p>
    {% endfor %}


    <p>Average earnings: {{ average_earnings|floatformat:"0"|intcomma }}$</p>

    <p>Max earnings: {{ max_earnings|floatformat:"0"|intcomma }}$</p>
    {% for college in max_earnings_colleges %}
        <p><a href="{% url 'college_app:college' college.id %}">{{ college.name }}</a></p>
    {% endfor %}

    <p>Min earnings: {{ min_earnings|floatformat:"0"|intcomma }}$</p>
    {% for college in min_earnings_colleges %}
        <p><a href="{% url 'college_app:college' college.id %}">{{ college.name }}</a></p>
    {% endfor %}

    <div>
        <a href="{% url 'college_app:index' %}">Home</a>
        {% if state_view %}
            <a href="{% url 'college_app:state' state_id %}">{{ geo }}</a>
        {% elif geo %}
            <a href="{% url 'college_app:region' region_id %}">{{ geo }}</a>
        {% elif init_param and init_param_value %}
            <a href="{% url 'college_app:filter_values' init_param init_param_value %}">{{ query_val }}</a>
        {% elif init_param %}
            <a href="{% url 'college_app:filter_no_values' init_param %}">{{ query_val }}</a>
        {% elif serach_query %}
            <span>Search</span>
        {% endif %}
        <a href="{{ base_url }}">{{ second_filter }}</a>
    </div>

    <div>
        {% if state_view %}
            <a href="{% url 'college_app:state' state_id %}">Reset</a>
        {% elif geo %}
            <a href="{% url 'college_app:region' region_id %}">Reset</a>
        {% elif init_param %}
            <a href="{% url 'college_app:main_filter' %}">Reset</a>
        {% elif main_filter %}
            <a href="{% url 'college_app:main_filter' %}">Reset</a>
        {% endif %}
    </div>

    {% for val in filters_vals %}
        <p>{{ val }}</p>
    {% endfor %}

    {% if inst_level|length > 1 %}
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Level
            </button>
            <div class="dropdown-menu">
                {% for l in inst_level %}
                    <a class="dropdown-item"
                       onclick="addParam('inst_level={{ l.0 }}')">{{ l.1 }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if religous|length > 1 %}
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Religion
            </button>
            <div class="dropdown-menu">
                {% for r in religous %}
                    <a class="dropdown-item"
                       onclick="addParam('religous={{ r.0 }}')">{{ r.1 }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if carnegie_basic|length > 1 %}
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Carnegie Basic
            </button>
            <div class="dropdown-menu">
                {% for b in carnegie_basic %}
                    <a class="dropdown-item"
                       onclick="addParam('carnegie_basic={{ b.0 }}')">{{ b.1 }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if highest_grad_degree|length > 1 %}
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Highest Degree
            </button>
            <div class="dropdown-menu">
                {% for d in highest_grad_degree %}
                    <a class="dropdown-item"
                       onclick="addParam('highest_grad_degree={{ d.0 }}')">{{ d.1 }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if locale|length > 1 %}
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Locale
            </button>
            <div class="dropdown-menu">
                {% for l in locale %}
                    <a class="dropdown-item"
                       onclick="addParam('locale={{ l.0 }}')">{{ l.1 }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if ownership|length > 1 %}
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Ownership
            </button>
            <div class="dropdown-menu">
                {% for o in ownership %}
                    <a class="dropdown-item"
                       onclick="addParam('ownership={{ o.0 }}')">{{ o.1 }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if state_view and state|length > 1 %}
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                State
            </button>
            <div class="dropdown-menu">
                {% for s in state %}
                    <a class="dropdown-item"
                       onclick="addParam('state={{ s.0 }}')">{{ s.1 }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if city|length > 1 %}
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                City/town
            </button>
            <div class="dropdown-menu">
                {% for c in city %}
                    <a class="dropdown-item"
                       onclick="addParam('city_slug={{ c.1 }}')">{{ c.0 }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if hist_black|length > 1 %}
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Historically black
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" onclick="addParam('hist_black=0')">No</a>
                <a class="dropdown-item" onclick="addParam('hist_black=1')">Yes</a>
            </div>
        </div>
    {% endif %}

    {% if predom_black|length > 1 %}
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Predominantely black
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" onclick="addParam('predom_black=0')">No</a>
                <a class="dropdown-item" onclick="addParam('predom_black=1')">Yes</a>
            </div>
        </div>
    {% endif %}

    {% if hispanic|length > 1 %}
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Hispanic
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" onclick="addParam('hispanic=0')">No</a>
                <a class="dropdown-item" onclick="addParam('hispanic=1')">Yes</a>
            </div>
        </div>
    {% endif %}

    {% if men_only|length > 1 %}
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Men-only
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" onclick="addParam('men_only=0')">No</a>
                <a class="dropdown-item" onclick="addParam('men_only=1')">Yes</a>
            </div>
        </div>
    {% endif %}


    {% if women_only|length > 1 %}
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Women-only
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" onclick="addParam('women_only=0')">No</a>
                <a class="dropdown-item" onclick="addParam('women_only=1')">Yes</a>
            </div>
        </div>
    {% endif %}

    {% if online_only|length > 1 %}
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Online-only
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" onclick="addParam('online_only=0')">No</a>
                <a class="dropdown-item" onclick="addParam('online_only=1')">Yes</a>
            </div>
        </div>
    {% endif %}

    {% if cur_operating|length > 1 %}
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Currently operating
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" onclick="addParam('cur_operating=0')">No</a>
                <a class="dropdown-item" onclick="addParam('cur_operating=1')">Yes</a>
            </div>
        </div>
    {% endif %}

    {% if academics %}
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Programs
            </button>
            <div class="dropdown-menu">
                {% for program in academics %}
                    <a class="dropdown-item" onclick="addParam('{{ program.0 }}=0')">{{ program.1 }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% for college in colleges %}
        <p>
            <a href="{% url 'college_app:college' college.id %}">{{ college.name }}</a>
        </p>
        <p>Monthly payments: {{ college.monthly_payments|floatformat:"0"|intcomma }}$</p>
        <p>Earnings: {{ college.mean_earnings|floatformat:"0"|intcomma }}$</p>
        <p>In state tuition: {{ college.in_state_tuition|floatformat:"0"|intcomma }}$</p>
    {% endfor %}

    {# pagination #}
    {% if params %}
        {% if colleges.paginator.num_pages > 1 %}
            <div>
                {% if colleges.has_previous %}
                    <a href="{{ base_url }}?{{ params }}">&laquo; first</a>
                    {% if colleges.previous_page_number == 1 %}
                        <a href="{{ base_url }}?{{ params }}">previous</a>
                    {% else %}
                        <a href="?page={{ colleges.previous_page_number }}{{ params }}">previous</a>
                    {% endif %}
                {% endif %}

                <span>
            Page {{ colleges.number }} of {{ colleges.paginator.num_pages }}.
        </span>

                {% if colleges.has_next %}
                    <a href="?page={{ colleges.next_page_number }}&{{ params }}">next</a>
                    <a href="?page={{ colleges.paginator.num_pages }}&{{ params }}">last
                        &raquo;</a>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        {% if colleges.paginator.num_pages > 1 %}
            <div>
                {% if colleges.has_previous %}
                    <a href="{{ base_url }}">&laquo; first</a>
                    {% if colleges.previous_page_number == 1 %}
                        <a href="{{ base_url }}">previous</a>
                    {% else %}
                        <a href="?page={{ colleges.previous_page_number }}">previous</a>
                    {% endif %}
                {% endif %}

                <span>
            Page {{ colleges.number }} of {{ colleges.paginator.num_pages }}.
        </span>

                {% if colleges.has_next %}
                    <a href="?page={{ colleges.next_page_number }}">next</a>
                    <a href="?page={{ colleges.paginator.num_pages }}">last
                        &raquo;</a>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{% static 'open_data_app/js/scripts.js' %}"></script>
</body>
</html>