{% extends "index.html" %}

{% load static %}
{% load mathfilters %}
{% load humanize %}
{% load bar_parcent %}

{% block robots %}
    {% if noindex %}
        {# noindex for dynamic filter pages #}
        <meta name="robots" content="noindex, follow">
    {% else %}
        <meta name="robots" content="index, follow">
    {% endif %}
{% endblock %}

{% block description %}
    <meta name="description" content="{{ seo_description }}">
    <meta property="og:description" content="{{ seo_description }}">
    <meta name="twitter:description" content="{{ seo_description }}">
{% endblock %}

{% block title %}
    <meta property="og:title" content="{{ seo_title }}">
    <meta name="twitter:title" content="{{ seo_title }}">
    <title>{{ seo_title }}{% if colleges.number > 1 %} - Page {{ colleges.number }}{% endif %}</title>
{% endblock %}

{% block canonical %}
    {% if colleges.number > 1 %}
        <link rel="canonical" href="{{ canonical }}?page={{ colleges.number }}{% if params %}&{{ params|safe }}{% endif %}">
    {% else %}
        <link rel="canonical" href="{{ canonical }}{% if params %}?{{ params|safe }}{% endif %}">
    {% endif %}
    {# next page #}
    {% if colleges.has_next %}
        <link rel="next" href="{{ canonical }}?page={{ colleges.next_page_number }}{% if params %}&{{ params|safe }}{% endif %}">
    {% endif %}
    {# prev page #}
    {% if colleges.has_previous %}
        {% if colleges.previous_page_number == 1 %}
            <link rel="prev" href="{{ canonical }}{% if params %}?{{ params|safe }}{% endif %}">
        {% else %}
            <link rel="prev" href="{{ canonical }}?page={{ colleges.previous_page_number }}{% if params %}&{{ params|safe }}{% endif %}">
        {% endif %}
    {% endif %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'open_data_app/css/listing.css' %}?v={{ version }}">
{% endblock %}

{% block external_styles %}
  {{ block.super }}
   <link rel="stylesheet" href="{% static 'open_data_app/css/circle.css' %}?v={{ version }}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {# h1 header start #}
        {% if geo %}
            <h1 class="mb-2">Colleges of {{ geo }}: {{ init_filter_val }}</h1>
        {% elif init_filter_val %}
            <h1>Colleges: {{ init_filter_val }}</h1>
        {% elif serach_query %}
            <h1>Search: {{ serach_query }}</h1>
        {% elif state_init %}
            <h1>Colleges and universities of {{ state_name }}</h1>
        {% elif region_init %}
            <h1>Colleges and universities of {{ region_name }}</h1>
        {% elif rating_header %}
            <h1>{{ rating_header }}</h1>
        {% else %}
            <h1>College search</h1>
        {% endif %}
        {# h1 header end #}

        {# breadscrumbs start #}
        <div class="row">
            <div class="col-12 top-info">
                <nav aria-label="breadcrumb">
                    <ul class="v-breadcrumbs theme--light py-0 pl-0" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem"><a href="{% url 'college_app:index' %}"
                                                                     class="v-breadcrumbs__item" itemprop="item"><span
                                itemprop="name">Home</span></a>
                            <meta itemprop="position" content="1"/>
                        </li>
                        {# state breadscrumb #}
                        {% if state_view or state_init %}
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                                itemtype="http://schema.org/ListItem"><a
                                    class="v-breadcrumbs__item"
                                    href="{% url 'college_app:geo' 'state' slug %}" itemprop="item"><span
                                    itemprop="name">{{ state_name }}</span></a>
                                <meta itemprop="position" content="2"/>
                            </li>
                            {# region breadscrumb #}
                        {% elif geo or region_init %}
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                                itemtype="http://schema.org/ListItem"><a
                                    class="v-breadcrumbs__item"
                                    href="{% url 'college_app:geo' 'region' slug %}" itemprop="item"><span
                                    itemprop="name">{{ region_name }}</span></a>
                                <meta itemprop="position" content="2"/>
                            </li>
                            {# initial parameter with a value breadscrumb #}
                        {% elif init_param and init_param_value %}
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                                itemtype="http://schema.org/ListItem"><a
                                    class="v-breadcrumbs__item"
                                    href="{% url 'college_app:filter_values' init_param init_param_value %}"
                                    itemprop="item"><span itemprop="name">{{ init_filter_val }}</span></a>
                                <meta itemprop="position" content="2"/>
                            </li>
                            {# initial parameter without a value breadscrumb #}
                        {% elif init_param %}
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                                itemtype="http://schema.org/ListItem"><a
                                    class="v-breadcrumbs__item"
                                    href="{% url 'college_app:filter_no_values' init_param %}" itemprop="item"><span
                                    itemprop="name">{{ init_filter_val }}</span></a>
                                <meta itemprop="position" content="2"/>
                            </li>
                            {# search or main filter breadscrumb #}
                        {% elif serach_query or main_filter %}
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                                itemtype="http://schema.org/ListItem" itemprop="item"><span
                                    class="v-breadcrumbs__item"
                                    itemprop="name">Search</span>
                                <meta itemprop="position" content="2"/>
                            </li>
                            {# rating breadscrumb #}
                        {% elif rating_header %}
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                                itemtype="http://schema.org/ListItem" itemprop="item"><span
                                    class="v-breadcrumbs__item"
                                    itemprop="name">{{ rating_header }}</span>
                                <meta itemprop="position" content="2"/>
                            </li>
                        {% endif %}
                        {# a breadscrumb for the second filter on state/region parameters' page #}
                        {% if geo and init_filter_val %}
                            <li class="breadcrumb-item" itemprop="itemListElement" itemscope
                                itemtype="http://schema.org/ListItem" itemprop="item"><a href="{{ base_url }}"><span
                                    itemprop="name">{{ init_filter_val }}</span></a></li>
                            <meta itemprop="position" content="3"/>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        {# breadscrumbs end #}

        <div class="row">
            <div class="col-sm-12 col-md-10 filters-applied top-info pb-0 mb-0">
                {# applied filters list start #}
                {% if not error %}
                    <span class="meta-text">Filters applied:</span>
                    {% if filters_vals|length > 0 or init_filter_val or state_init or region_init or serach_query %}
                        {# state/region bage with a link for parameter page #}
                        {% if geo %}
                            <a href="{{ geo_page }}" class="badge-link">
                                <span class="badge badge-light">{{ geo }}</span>
                            </a>
                        {% endif %}
                        {# initial filter bage with a link for state/region parameter page #}
                        {% if geo and init_filter_val %}
                            <a href="{{ init_filter_page }}" class="badge-link">
                                <span class="badge badge-light">{{ init_filter_val }}</span>
                            </a>
                        {% endif %}
                        {# initial filter bage without a link for initial parameter's page #}
                        {% if init_filter_val and not geo and filters_vals|length == 0 %}
                            <span class="badge badge-light">{{ init_filter_val }}</span>
                        {% endif %}
                        {# initial filter bage with a link for initial parameter's page #}
                        {% if init_filter_val and not geo and filters_vals|length > 0 %}
                            <a href="{{ base_url }}" class="badge-link">
                                <span class="badge badge-light">{{ init_filter_val }}</span>
                            </a>
                        {% endif %}
                        {# a badge for a search query  #}
                        {% if serach_query %}
                            <span class="badge badge-light">{{ serach_query }}</span>
                        {% endif %}
                        {# region bage without a link #}
                        {% if region_init %}
                            <span class="badge badge-light">{{ region_name }}</span>
                        {% endif %}
                        {# state bage without a link #}
                        {% if state_init %}
                            <span class="badge badge-light">{{ state_name }}</span>
                        {% endif %}
                        {# others filters' bages with links #}
                        {% for val in filters_vals %}
                            <a href="{{ val.1 }}" class="badge-link">
                                <span class="badge badge-light">{{ val.0 }}</span>
                            </a>
                        {% endfor %}
                    {% else %}
                        <span class="badge badge-light">No filters</span>
                    {% endif %}
                {% endif %}
                {# applied filters list end #}
            </div>
        </div>


        <div class="row">
            {# sidebar filters start #}
            <div class="col-sm-12 col-md-2">
            {# Reset button #}
            {% if rating_url %}
                <a href="{% url 'college_app:create_rating' rating_url %}" style="text-decoration: none">
                    <button class="v-btn v-btn--depressed theme--light v-size--default reset-button">Reset</button>
                </a>
            {% else %}
                <a href="{% url 'college_app:main_filter' %}" style="text-decoration: none">
                    <button class="v-btn v-btn--depressed theme--light v-size--default reset-button">Reset</button>
                </a>
            {% endif %}
            {# Reset button end #}
                {% if is_multiple %}
                    {# initial region/state filter page #}
                    {% if region_init or state_init %}
                        <div id="list-menu" class="list-group">
                            {% if academics|length > 1 %}
                                <div class="list-group-item btn-group dropright">
                                    <div class="dropdown-toggle" data-toggle="dropdown"
                                         aria-haspopup="true"
                                         aria-expanded="false">
                                        <div class="item-name">
                                            Programs
                                        </div>
                                    </div>
                                    <div class="dropdown-menu">
                                        {% for program in academics %}
                                            <a class="dropdown-item"
                                               href="{% url view_name geo_name slug program.0 0 %}">{{ program.1 }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% for key, val in multi_val_filters.items %}
                                {% if val.0|length > 1 %}
                                    <div class="list-group-item btn-group dropright">
                                        <div class="dropdown-toggle" data-toggle="dropdown"
                                             aria-haspopup="true"
                                             aria-expanded="false">
                                            <div class="item-name">
                                                {{ val.1 }}
                                            </div>
                                        </div>
                                        <div class="dropdown-menu">
                                            {% for v in val.0 %}
                                                <a class="dropdown-item"
                                                   href="{% url view_name geo_name slug key v.1 %}">{{ v.0 }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for key, val in binary_filters.items %}
                                {% if val.0|length > 1 %}
                                    <div class="list-group-item btn-group dropright">
                                        <div class="dropdown-toggle" data-toggle="dropdown"
                                             aria-haspopup="true"
                                             aria-expanded="false">
                                            <div class="item-name">
                                                {{ val.1 }}
                                            </div>
                                        </div>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item"
                                               href="{% url view_name geo_name slug key 0 %}">No</a>
                                            <a class="dropdown-item"
                                               href="{% url view_name geo_name slug key 1 %}">Yes</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {# filters for other page types #}
                    {% else %}
                        <div id="list-menu" class="list-group">
                            {% if academics %}
                                <div class="list-group-item btn-group dropright">
                                    <div class="dropdown-toggle" data-toggle="dropdown"
                                         aria-haspopup="true"
                                         aria-expanded="false">
                                        <div class="item-name">
                                            Programs
                                        </div>
                                    </div>
                                    <div class="dropdown-menu">
                                        {% for program in academics %}
                                            <a class="dropdown-item"
                                               onclick="addParam('{{ program.0 }}=0')">{{ program.1 }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% for key, val in multi_val_filters.items %}
                                {% if val.0|length > 1 %}
                                    <div class="list-group-item btn-group dropright">
                                        <div class="dropdown-toggle" data-toggle="dropdown"
                                             aria-haspopup="true"
                                             aria-expanded="false">
                                            <div class="item-name">
                                                {{ val.1 }}
                                            </div>
                                        </div>
                                        <div class="dropdown-menu">
                                            {% for v in val.0 %}
                                                <a class="dropdown-item"
                                                   onclick="addParam('{{ key }}={{ v.1 }}')">{{ v.0 }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for key, val in binary_filters.items %}
                                {% if val.0|length > 1 %}
                                    <div class="list-group-item btn-group dropright">
                                        <div class="dropdown-toggle" data-toggle="dropdown"
                                             aria-haspopup="true"
                                             aria-expanded="false">
                                            <div class="item-name">
                                                {{ val.1 }}
                                            </div>
                                        </div>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" onclick="addParam('{{ key }}=0')">No</a>
                                            <a class="dropdown-item" onclick="addParam('{{ key }}=1')">Yes</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            {# sidebar filters end #}

            {# page content start #}
            <div class="col-sm-12 col-md-10">
                <div class="row">

                    {% if not error %}
                        <div class="col-sm-12 add-to-any pt-0">
                            <!-- AddToAny BEGIN -->
                            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                                <a class="a2a_button_facebook"></a>
                                <a class="a2a_button_twitter"></a>
                                <a class="a2a_button_pinterest"></a>
                                <a class="a2a_button_reddit"></a>
                                <a class="a2a_button_tumblr"></a>
                            </div>
                            <script async src="https://static.addtoany.com/menu/page.js"></script>
                            <!-- AddToAny END -->
                        </div>
                    {% endif %}

                    {# google map start #}
                    {% if not error %}
                        <div class="col-sm-12 college-container">
                            <div id="map"></div>
                        </div>
                    {% endif %}
                    {# google map end #}

                    {# aggregate text #}
                    {% if aggregate_text and colleges.number == 1 %}
                        <div class="col-sm-12">
                            {% autoescape off %}
                                {% for key, value in aggregate_text.items %}
                                    <h3>{{ key }}</h3>
                                    <p>{{ value }}</p>
                                {% endfor %}
                            {% endautoescape %}
                        </div>
                    {% endif %}
                    {# aggregatetext end  #}

                    {# aggregate data start #}
                    {% if is_multiple %}
                        <div class="col-sm-12 college-container">
                            <div class="card">
                                <div class="row card-body aggregate">
                                    <div class="col-md-2 aggr-meta">
                                        <p>Max</p>
                                        <p>Min</p>
                                    </div>
                                    <div class="col-sm-12 col-md-2">
                                        <h4>Tuition <i class="fas fa-info-circle" data-toggle="tooltip"
                                                       data-placement="top"
                                                       title="In-state tuition and fees (2019 College Scorecard data)"></i>
                                        </h4>
                                        <div>
                                            <div class="aggregate-content">
                                                {% if max_tuition != None %}
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                            data-target="#maxTuition" aria-expanded="false"
                                                            aria-controls="maxTuition">
                                                        {{ max_tuition|floatformat:"0"|intcomma }}$
                                                    </button>
                                                {% else %}
                                                    <span class="no-data">No data</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if max_tuition != None %}
                                            <div id="maxTuition" class="collapse">
                                                {% for college in max_tuition_colleges %}
                                                    <div class="aggregate-content">
                                                        <a href="{% url 'college_app:college' college.id college.slug %}">{{ college.name }}</a>
                                                    </div><br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        <div>
                                            <div class="aggregate-content">
                                                {% if min_tuition != None %}
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                            data-target="#minTuition" aria-expanded="false"
                                                            aria-controls="minTuition">
                                                        {{ min_tuition|floatformat:"0"|intcomma }}$
                                                    </button>
                                                {% else %}
                                                    <span class="no-data">No data</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if min_tuition != None %}
                                            <div id="minTuition" class="collapse">
                                                {% for college in min_tuition_colleges %}
                                                    <div class="aggregate-content">
                                                        <a href="{% url 'college_app:college' college.id college.slug %}">{{ college.name }}</a>
                                                    </div><br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        <h4>Payments <i class="fas fa-info-circle" data-toggle="tooltip"
                                                                data-placement="top"
                                                                title="Median loan debt of completers in monthly payments (2019 College Scorecard data)"></i>
                                        </h4>
                                        <div>
                                            <div class="aggregate-content">
                                                {% if max_payments != None %}
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                            data-target="#maxPayments" aria-expanded="false"
                                                            aria-controls="maxPayments">
                                                        {{ max_payments|floatformat:"0"|intcomma }}$
                                                    </button>
                                                {% else %}
                                                    <span class="no-data">No data</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if max_payments != None %}
                                            <div id="maxPayments" class="collapse">
                                                {% for college in max_payments_colleges %}
                                                    <div class="aggregate-content">
                                                        <a href="{% url 'college_app:college' college.id college.slug %}">{{ college.name }}</a>
                                                    </div><br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        <div>
                                            <div class="aggregate-content">
                                                {% if min_payments != None %}
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                            data-target="#minPayments" aria-expanded="false"
                                                            aria-controls="minPayments">
                                                        {{ min_payments|floatformat:"0"|intcomma }}$
                                                    </button>
                                                {% else %}
                                                    <span class="no-data">No data</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if min_payments != None %}
                                            <div id="minPayments" class="collapse">
                                                {% for college in min_payments_colleges %}
                                                    <div class="aggregate-content">
                                                        <a href="{% url 'college_app:college' college.id college.slug %}">{{ college.name }}</a>
                                                    </div><br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        <h4>Earnings <i class="fas fa-info-circle" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="Median earnings of students working and not enrolled 10 years after entry (2019 College Scorecard data)"></i>
                                        </h4>
                                        <div>
                                            <div class="aggregate-content">
                                                {% if max_earnings != None %}
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                            data-target="#maxEarnings" aria-expanded="false"
                                                            aria-controls="maxEarnings">{{ max_earnings|floatformat:"0"|intcomma }}$
                                                    </button>
                                                {% else %}
                                                    <span class="no-data">No data</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if max_earnings != None %}
                                            <div id="maxEarnings" class="collapse">
                                                {% for college in max_earnings_colleges %}
                                                    <div class="aggregate-content">
                                                        <a href="{% url 'college_app:college' college.id college.slug %}">{{ college.name }}</a>
                                                    </div><br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        <div>
                                            <div class="aggregate-content">
                                                {% if min_earnings != None %}
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                            data-target="#minEarnings" aria-expanded="false"
                                                            aria-controls="minEarnings">
                                                        {{ min_earnings|floatformat:"0"|intcomma }}$
                                                    </button>
                                                {% else %}
                                                    <span class="no-data">No data</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if min_earnings != None %}
                                            <div id="minEarnings" class="collapse">
                                                {% for college in min_earnings_colleges %}
                                                    <div class="aggregate-content">
                                                        <a href="{% url 'college_app:college' college.id college.slug %}">{{ college.name }}</a>
                                                    </div><br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        <h4>Admission <i class="fas fa-info-circle" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="The ratio of the number of students who are admitted to the number of total applicants (2019 College Scorecard data)"></i>
                                        </h4>
                                        <div>
                                            <div class="aggregate-content">
                                                {% if max_admission_rate != None %}
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                            data-target="#maxAdmission" aria-expanded="false"
                                                            aria-controls="maxAdmission">{{ max_admission_rate|mul:100|floatformat:"1" }}%
                                                    </button>
                                                {% else %}
                                                    <span class="no-data">No data</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if max_admission_rate != None %}
                                            <div id="maxAdmission" class="collapse">
                                                {% for college in max_admission_rate_colleges %}
                                                    <div class="aggregate-content">
                                                        <a href="{% url 'college_app:college' college.id college.slug %}">{{ college.name }}</a>
                                                    </div><br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        <div>
                                            <div class="aggregate-content">
                                                {% if min_admission_rate != None %}
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                            data-target="#minAdmission" aria-expanded="false"
                                                            aria-controls="minAdmission">
                                                        {{ min_admission_rate|mul:100|floatformat:"1" }}%
                                                    </button>
                                                {% else %}
                                                    <span class="no-data">No data</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if min_admission_rate != None %}
                                            <div id="minAdmission" class="collapse">
                                                {% for college in min_admission_rate_colleges %}
                                                    <div class="aggregate-content">
                                                        <a href="{% url 'college_app:college' college.id college.slug %}">{{ college.name }}</a>
                                                    </div><br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        <h4>Completion <i class="fas fa-info-circle" data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="Completion rate for first-time, full-time students at four-year institutions (2019 College Scorecard data)"></i>
                                        </h4>
                                        <div>
                                            <div class="aggregate-content">
                                                {% if max_completion_rate != None %}
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                            data-target="#maxCompletion" aria-expanded="false"
                                                            aria-controls="maxCompletion">{{ max_completion_rate|mul:100|floatformat:"1" }}%
                                                    </button>
                                                {% else %}
                                                    <span class="no-data">No data</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if max_completion_rate != None %}
                                            <div id="maxCompletion" class="collapse">
                                                {% for college in max_completion_rate_colleges %}
                                                    <div class="aggregate-content">
                                                        <a href="{% url 'college_app:college' college.id college.slug %}">{{ college.name }}</a>
                                                    </div><br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        <div>
                                            <div class="aggregate-content">
                                                {% if min_completion_rate != None %}
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                            data-target="#minCompletion" aria-expanded="false"
                                                            aria-controls="minCompletion">
                                                        {{ min_completion_rate|mul:100|floatformat:"1" }}%
                                                    </button>
                                                {% else %}
                                                    <span class="no-data">No data</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if min_completion_rate != None %}
                                            <div id="minCompletion" class="collapse">
                                                {% for college in min_completion_rate_colleges %}
                                                    <div class="aggregate-content">
                                                        <a href="{% url 'college_app:college' college.id college.slug %}">{{ college.name }}</a>
                                                    </div><br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {# aggregate data end #}

                    {# colleges found number #}
                    <div class="col-sm-12 col-md-9">
                        <p class="colleges-count pt-2"><span class="meta-text">Colleges found:</span>
                            <span class="badge badge-light">
                                {% if colleges.paginator %}
                                    {{ colleges.paginator.count }}
                                {% elif colleges.count %}
                                    {{ colleges.count }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        </p>
                    </div>
                    {# colleges found number end #}

                    {# sort list start #}
                    {% if is_multiple %}
                        <div class="col-sm-12 col-md-3">
                            <div class="dropdown">
                                <div class="dropdown-toggle sort pt-2" data-toggle="dropdown" aria-haspopup="true"
                                     aria-expanded="false">
                                    {% if active_sort_param_name %}
                                        <span>{{ active_sort_param_name }}</span>
                                    {% else %}
                                        <span>Sort</span>
                                        <i class="v-icon mdi mdi-chevron-down theme--light rotate"></i>
                                    {% endif %}
                                </div>
                                <div class="dropdown-menu">
                                    {% for key, val in sort_params.items %}
                                        <a class="dropdown-item"
                                           onclick="addParam('sort={{ key }}')">{{ val }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {# sort list end #}

                    {# colleges list start #}
                    {% for college in colleges %}
                        <div class="col-sm-12 college-container">
                            <div class="{% if college.id|stringformat:"i" in favourite_colleges %}card-favourite{% else %}card{% endif %}">
                                <div class="card-header">
                                    <a href="{% url 'college_app:college' college.id college.slug %}">{{ college.name }}</a>
                                    <p><i class="fas fa-map-marker-alt"></i> {{ college.city }}, {{ college.state }}</p>
                                    <i class="{% if college.id|stringformat:"i" in favourite_colleges %}fas{% else %}far{% endif %} fa-star favourite-button"
                                       title="Add to favourite" data-college-id="{{ college.id }}"></i>
                                </div>
                                <div class="row card-body">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="row">
                                            <div class="col-6 admission">
                                                <h3>Admission rate <i class="fas fa-info-circle" data-toggle="tooltip"
                                                                      data-placement="top"
                                                                      title="The ratio of the number of students who are admitted to the number of total applicants (2019 College Scorecard data)"></i>
                                                </h3>
                                                {% if college.admission_rate %}
                                                    <div class="c100 orange p{{ college.admission_rate|mul:100|floatformat:"0" }}">
                                                        <span>{{ college.admission_rate|mul:100|floatformat:"0" }}%</span>
                                                        <div class="slice">
                                                            <div class="bar"></div>
                                                            <div class="fill"></div>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="c100 orange p0">
                                                        <span>N/A</span>
                                                        <div class="slice">
                                                            <div class="bar"></div>
                                                            <div class="fill"></div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="col-6 completion">
                                                {% if college.completion_rate_four_year_pooled %}
                                                    <h3>Completion rate <i class="fas fa-info-circle"
                                                                           data-toggle="tooltip"
                                                                           data-placement="top"
                                                                           title="Completion rate for first-time, full-time students at four-year institutions (2019 College Scorecard data)"></i>
                                                    </h3>
                                                    <div class="c100 green p{{ college.completion_rate_four_year_pooled|mul:100|floatformat:"0" }}">
                                                        <span>{{ college.completion_rate_four_year_pooled|mul:100|floatformat:"0" }}%</span>
                                                        <div class="slice">
                                                            <div class="bar"></div>
                                                            <div class="fill"></div>
                                                        </div>
                                                    </div>
                                                {% elif college.completion_rate_less_four_year_pooled %}
                                                    <h3>Completion rate <i
                                                            class="fas fa-info-circle" data-toggle="tooltip"
                                                            data-placement="top"
                                                            title="Completion rate for first-time, full-time students at less-than-four-year institutions (2019 College Scorecard data)"></i>
                                                    </h3>
                                                    <div class="c100 green p{{ college.completion_rate_less_four_year_pooled|mul:100|floatformat:"0" }}">
                                                        <span>{{ college.completion_rate_less_four_year_pooled|mul:100|floatformat:"0" }}%</span>
                                                        <div class="slice">
                                                            <div class="bar"></div>
                                                            <div class="fill"></div>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <h3>Completion rate <i
                                                            class="fas fa-info-circle" data-toggle="tooltip"
                                                            data-placement="top"
                                                            title="Completion rate for first-time, full-time students (2019 College Scorecard data)"></i>
                                                    </h3>
                                                    <div class="c100 green p0">
                                                        <span>N/A</span>
                                                        <div class="slice">
                                                            <div class="bar"></div>
                                                            <div class="fill"></div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 hor-bars-block">
                                    <span>In-state tuition <i class="fas fa-info-circle" data-toggle="tooltip"
                                                              data-placement="top"
                                                              title="In-state tuition and fees (2019 College Scorecard data)"></i></span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar"
                                                 style="width: {{ college.in_state_tuition|bar_percent:max_tuition }}%;"
                                                 aria-valuenow="{{ college.in_state_tuition|bar_percent:max_tuition }}"
                                                 aria-valuemin="0" aria-valuemax="100">{% if college.in_state_tuition %}
                                                {{ college.in_state_tuition|floatformat:"0"|intcomma }}${% else %}
                                                <span class="bar-no-data">No data</span>{% endif %}</div>
                                        </div>
                                        <span>Monthly payments <i class="fas fa-info-circle" data-toggle="tooltip"
                                                                  data-placement="top"
                                                                  title="Median loan debt of completers in monthly payments (2019 College Scorecard data)"></i></span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar"
                                                 style="width: {{ college.monthly_payments|bar_percent:max_payments }}%;"
                                                 aria-valuenow="{{ college.monthly_payments|bar_percent:max_payments }}"
                                                 aria-valuemin="0" aria-valuemax="100">{% if college.monthly_payments %}
                                                {{ college.monthly_payments|floatformat:"0"|intcomma }}${% else %}
                                                <span class="bar-no-data">No data</span>{% endif %}</div>
                                        </div>
                                        <span>Earnings <i class="fas fa-info-circle" data-toggle="tooltip"
                                                          data-placement="top"
                                                          title="Median earnings of students working and not enrolled 10 years after entry (2019 College Scorecard data)"></i></span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar"
                                                 style="width: {{ college.median_earnings|bar_percent:max_earnings }}%;"
                                                 aria-valuenow="{{ college.median_earnings|bar_percent:max_earnings }}"
                                                 aria-valuemin="0" aria-valuemax="100">{% if college.median_earnings %}
                                                {{ college.median_earnings|floatformat:"0"|intcomma }}${% else %}
                                                <span class="bar-no-data">No data</span>{% endif %}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {# colleges list end #}
                    {# error message #}
                    {% if error %}
                        <div class="col-sm-12 college-container">
                            <h2>No colleges found</h2>
                        </div>
                    {% endif %}
                    {# end error message #}
                </div>
            </div>
            {# page content end #}
        </div>

        {# pagination start #}
        {% if colleges.paginator.num_pages > 1 %}
            <div class="row">
                <div class="col-12">
                    <nav aria-label="pagination">
                            <span class="pagination-phrase">
                            Page {{ colleges.number }} of {{ colleges.paginator.num_pages }}
                        </span>
                        <ul class="pagination justify-content-center">
                            {% if colleges.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ base_url }}{% if params %}?{{ params }}{% endif %}">&laquo;first</a>
                                </li>
                                {% if colleges.previous_page_number == 1 %}
                                    <li class="page-item">
                                        <a class="page-link" href="{{ base_url }}{% if params %}?{{ params }}{% endif %}">previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?page={{ colleges.previous_page_number }}{% if params %}{{ params }}{% endif %}">previous</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if colleges.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ colleges.next_page_number }}{% if params %}&{{ params }}{% endif %}">next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ colleges.paginator.num_pages }}{% if params %}&{{ params }}{% endif %}">last&raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        {% endif %}
        {# pagination end #}
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% if not error %}
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <script>
            function initMap() {
               getMapLabels("{{ api_call|safe }}");
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}&callback=initMap"
                async defer></script>
    {% endif %}
{% endblock %}
