<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:type" content="website">
    <meta name="description" content="This site provides details about colleges and universities in the USA in 2019. Here you can find supporting data for any american college on disciplines, admissions, student completion, costs, debt and repayment, financial aid, earnings, and more.">
    <meta property="og:description" content="This site provides details about colleges and universities in the USA in 2019. Here you can find supporting data for any american college on disciplines, admissions, student completion, costs, debt and repayment, financial aid, earnings, and more.">
    <meta name="twitter:description" content="This site provides details about colleges and universities in the USA in 2019. Here you can find supporting data for any american college on disciplines, admissions, student completion, costs, debt and repayment, financial aid, earnings, and more.">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>2019 colleges and universities in the USA</title>
    <meta property="og:title" content="2019 colleges and universities in the USA">
    <meta name="twitter:title" content="2019 colleges and universities in the USA">
</head>
<body>
<div class="container-fluid">
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            State
        </button>
        <div class="dropdown-menu">
            {% for state in states %}
                <a class="dropdown-item" href="{% url 'college_app:state' state.id %}">{{ state.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Region
        </button>
        <div class="dropdown-menu">
            {% for region in regions %}
                {% if region.id > 0 %}
                    <a class="dropdown-item" href="{% url 'college_app:region' region.id %}">{{ region.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Ownership
        </button>
        <div class="dropdown-menu">
            {% for o in ownership %}
                <a class="dropdown-item" href="{% url 'college_app:filter_values' 'ownership' o.0 %}">{{ o.1 }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Locales
        </button>
        <div class="dropdown-menu">
            {% for l in locales %}
                <a class="dropdown-item" href="{% url 'college_app:filter_values' 'locale' l.0 %}">{{ l.1 }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Degrees
        </button>
        <div class="dropdown-menu">
            {% for d in degrees %}
                <a class="dropdown-item" href="{% url 'college_app:filter_values' 'degree' d.0 %}">{{ d.1 }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Carnegie Basic
        </button>
        <div class="dropdown-menu">
            {% for c in carnegie_basic %}
                <a class="dropdown-item" href="{% url 'college_app:filter_values' 'carnegie' c.0 %}">{{ c.1 }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Religions
        </button>
        <div class="dropdown-menu">
            {% for r in religions %}
                <a class="dropdown-item" href="{% url 'college_app:filter_values' 'religion' r.0 %}">{{ r.1 }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Levels
        </button>
        <div class="dropdown-menu">
            {% for l in levels %}
                <a class="dropdown-item" href="{% url 'college_app:filter_values' 'level' l.0 %} ">{{ l.1 }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        Historically black
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'college_app:filter_values' 'hist_black' 0 %}">No</a>
        <a class="dropdown-item" href="{% url 'college_app:filter_values' 'hist_black' 1 %}">Yes</a>
    </div>
</div>

<div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        Predominantely black
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'college_app:filter_values' 'predom_black' 0 %}">No</a>
        <a class="dropdown-item" href="{% url 'college_app:filter_values' 'predom_black' 1 %}">Yes</a>
    </div>
</div>

<div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        Hispanic
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'college_app:filter_values' 'hispanic' 0 %}">No</a>
        <a class="dropdown-item" href="{% url 'college_app:filter_values' 'hispanic' 1 %}">Yes</a>
    </div>
</div>

<div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        Men-only
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'college_app:filter_values' 'men_only' 0 %}">No</a>
        <a class="dropdown-item" href="{% url 'college_app:filter_values' 'men_only' 1 %}">Yes</a>
    </div>
</div>

<div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        Women-only
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'college_app:filter_values' 'women_only' 0 %}">No</a>
        <a class="dropdown-item" href="{% url 'college_app:filter_values' 'women_only' 1 %}">Yes</a>
    </div>
</div>

<div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        Online-only
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'college_app:filter_values' 'online_only' 0 %}">No</a>
        <a class="dropdown-item" href="{% url 'college_app:filter_values' 'online_only' 1 %}">Yes</a>
    </div>
</div>

<div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        Currently operating
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'college_app:filter_values' 'cur_operating' 0 %}">No</a>
        <a class="dropdown-item" href="{% url 'college_app:filter_values' 'cur_operating' 1 %}">Yes</a>
    </div>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        Program
    </button>
    <div class="dropdown-menu">
        {% for discipline in disciplines %}
            <a class="dropdown-item" href="{% url 'college_app:filter_no_values' discipline.0 %}">{{ discipline.1 }}</a>
        {% endfor %}
    </div>
</div>


<div>
    <form action="{% url 'college_app:search' %}">
        <input type="text" name="text">
        <button type="submit">Search</button>
    </form>
</div>

<div>
    <form action="{% url 'college_app:main_filter' %}">
        <div>
            <label>
                State
            </label>
            {% for state in states %}
                <input name="state" value="{{ state.id }}" type="checkbox">{{ state.name }}
            {% endfor %}
        </div>
        <div>
            <label>
                Region
            </label>
            {% for region in regions %}
                {% if region.id > 0 %}
                    <input name="region" value="{{ region.id }}" type="checkbox">{{ region.name }}
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <div>
                <label>
                    Ownership
                </label>
                {% for o in ownership %}
                    <input name="ownership" value="{{ o.0 }}" type="checkbox">{{ o.1 }}
                {% endfor %}
            </div>
        </div>
        <div>
            <label>
                Locale
            </label>
            {% for l in locales %}
                <input name="locale" value="{{ l.0 }}" type="checkbox">{{ l.1 }}
            {% endfor %}
        </div>
        <div>
            <label>
                Degrees
            </label>
            {% for d in degrees %}
                <input name="highest_grad_degree" value="{{ d.0 }}" type="checkbox">{{ d.1 }}
            {% endfor %}
        </div>
        <div>
            <label>
                Carnegie basic
            </label>
            {% for c in carnegie_basic %}
                <input name="carnegie_basic" value="{{ c.0 }}" type="checkbox">{{ c.1 }}
            {% endfor %}
        </div>
        <div>
            <label>
                Religion
            </label>
            {% for r in religions %}
                <input name="religous" value="{{ r.0 }}" type="checkbox">{{ r.1 }}
            {% endfor %}
        </div>
        <div>
            <label>
                Level
            </label>
            {% for l in levels %}
                <input name="inst_level" value="{{ l.0 }}" type="checkbox">{{ l.1 }}
            {% endfor %}
        </div>
        <div>
            <label>
                Historically black
                <input name="hist_black" value="1" type="checkbox">
            </label>
        </div>
        <div>
            <label>
                Predominantely black
                <input name="predom_black" value="1" type="checkbox">
            </label>
        </div>
        <div>
            <label>
                Hispanic
                <input name="hispanic" value="1" type="checkbox">
            </label>
        </div>
        <div>
            <label>
                Men-only
                <input name="men_only" value="1" type="checkbox">
            </label>
        </div>
        <div>
            <label>
                Women-only
                <input name="women_only" value="1" type="checkbox">
            </label>
        </div>
        <div>
            <label>
                Online-only
                <input name="online_only" value="1" type="checkbox">
            </label>
        </div>
        <div>
            <label>
                Currently operating
                <input name="cur_operating" value="1" type="checkbox">
            </label>
        </div>
        <div>
            {% for discipline in disciplines %}
                <label>
                    {{ discipline.1 }}
                    <input name="{{ discipline.0 }}" value="0" type="checkbox">
                </label>
            {% endfor %}
        </div>
        <button type="submit">Search</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>