<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index, follow">
    {# canonical page #}
    {% if colleges.number > 1 %}
        <link rel="canonical" href="{{ canonical }}?page={{ colleges.number }}">
    {% else %}
        <link rel="canonical" href="{{ canonical }}">
    {% endif %}
    {# next page #}
    {% if colleges.has_next %}
        <link rel="next" href="{{ canonical }}?page={{ colleges.next_page_number }}">
    {% endif %}
    {# prev page #}
    {% if colleges.has_previous %}
        {% if colleges.previous_page_number == 1 %}
            <link rel="prev" href="{{ canonical }}">
        {% else %}
            <link rel="prev" href="{{ canonical }}?page={{ colleges.previous_page_number }}">
        {% endif %}
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Region {{ region_name }} colleges and universities</title>
{% load static %}
</head>
<body>
<div class="container-fluid">
    <h1>Colleges and universities of {{ region_name }}</h1>
    <p>Colleges found: {{ colleges.paginator.count }}</p>
    <div>
        <a href="{% url 'college_app:index' %}">Home</a>
        <a href="{% url 'college_app:region' region_id %}">{{ region_name }}</a>
    </div>
    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Level
        </button>
        <div class="dropdown-menu">
            {% for l in inst_level %}
                <a class="dropdown-item"
                   href="{% url 'college_app:region' region_id %}?inst_level={{ l.0 }}">{{ l.1 }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Religion
        </button>
        <div class="dropdown-menu">
            {% for r in religous %}
                <a class="dropdown-item"
                   href="{% url 'college_app:region' region_id %}?religous={{ r.0 }}">{{ r.1 }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Carnegie Basic
        </button>
        <div class="dropdown-menu">
            {% for b in carnegie_basic %}
                <a class="dropdown-item"
                   href="{% url 'college_app:region' region_id %}?carnegie_basic={{ b.0 }}">{{ b.1 }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Highest Degree
        </button>
        <div class="dropdown-menu">
            {% for d in highest_grad_degree %}
                <a class="dropdown-item"
                   href="{% url 'college_app:region' region_id %}?highest_grad_degree={{ d.0 }}">{{ d.1 }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Locale
        </button>
        <div class="dropdown-menu">
            {% for l in locale %}
                <a class="dropdown-item"
                   href="{% url 'college_app:region' region_id %}?locale={{ l.0 }}">{{ l.1 }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Ownership
        </button>
        <div class="dropdown-menu">
            {% for o in ownership %}
                <a class="dropdown-item"
                   href="{% url 'college_app:region' region_id %}?ownership={{ o.0 }}">{{ o.1 }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            State
        </button>
        <div class="dropdown-menu">
            {% for s in state %}
                <a class="dropdown-item"
                   href="{% url 'college_app:region' region_id %}?state={{ s.0 }}">{{ s.1 }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            City/town
        </button>
        <div class="dropdown-menu">
            {% for c in city %}
                <a class="dropdown-item"
                   href="{% url 'college_app:region' region_id %}?city={{ c.1 }}">{{ c.0 }}</a>
            {% endfor %}
        </div>
    </div>

    {% for val in hist_black %}
        {% if val.hist_black == 1 %}
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Historically black
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'college_app:region' region_id %}?hist_black=0">No</a>
                    <a class="dropdown-item" href="{% url 'college_app:region' region_id %}?hist_black=1">Yes</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% for val in predom_black %}
        {% if val.predom_black == 1 %}
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Predominantely black
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'college_app:region' region_id %}?predom_black=0">No</a>
                    <a class="dropdown-item" href="{% url 'college_app:region' region_id %}?predom_black=1">Yes</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% for val in hispanic %}
        {% if val.hispanic == 1 %}
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Hispanic
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'college_app:region' region_id %}?hispanic=0">No</a>
                    <a class="dropdown-item" href="{% url 'college_app:region' region_id %}?hispanic=1">Yes</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% for val in men_only %}
        {% if val.men_only == 1 %}
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Men-only
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'college_app:region' region_id %}?men_only=0">No</a>
                    <a class="dropdown-item" href="{% url 'college_app:region' region_id %}?men_only=1">Yes</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}


    {% for val in women_only %}
        {% if val.women_only == 1 %}
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Women-only
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'college_app:region' region_id %}?women_only=0">No</a>
                    <a class="dropdown-item" href="{% url 'college_app:region' region_id %}?women_only=1">Yes</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% for val in online_only %}
        {% if val.online_only == 1 %}
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Online-only
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'college_app:region' region_id %}?online_only=0">No</a>
                    <a class="dropdown-item" href="{% url 'college_app:region' region_id %}?online_only=1">Yes</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% for val in cur_operating %}
        {% if val.cur_operating == 1 %}
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Currently operating
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'college_app:region' region_id %}?cur_operating=0">No</a>
                    <a class="dropdown-item" href="{% url 'college_app:region' region_id %}?cur_operating=1">Yes</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}


    {% if academics %}
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Programs
            </button>
            <div class="dropdown-menu">
                {% for program in academics %}
                    <a class="dropdown-item" href="{% url 'college_app:region' region_id %}?{{ program.0 }}=0">{{ program.1 }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% for college in colleges %}
        <p>
            <a href="{% url 'college_app:college' college.id %}">{{ college.name }}</a>
        </p>
    {% endfor %}
    {% if colleges.paginator.num_pages > 1 %}
        <div>
            {% if colleges.has_previous %}
                <a href="{{ base_url }}">&laquo; first</a>
                {% if colleges.previous_page_number == 1 %}
                    <a href="{{ base_url }}">previous</a>
                {% else %}
                    <a href="?page={{ colleges.previous_page_number }}">previous</a>
                {% endif %}
            {% endif %}

            <span>
            Page {{ colleges.number }} of {{ colleges.paginator.num_pages }}.
        </span>

            {% if colleges.has_next %}
                <a href="?page={{ colleges.next_page_number }}">next</a>
                <a href="?page={{ colleges.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </div>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{% static 'open_data_app/js/scripts.js' %}"></script>
</body>
</html>