<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# canonical page #}
    {% if colleges.number > 1 %}
        <link rel="canonical" href="{{ canonical }}?page={{ colleges.number }}">
    {% else %}
        <link rel="canonical" href="{{ canonical }}">
    {% endif %}
    {# next page #}
    {% if colleges.has_next %}
        <link rel="next" href="{{ canonical }}?page={{ colleges.next_page_number }}">
    {% endif %}
    {# prev page #}
    {% if colleges.has_previous %}
        {% if colleges.previous_page_number == 1 %}
            <link rel="prev" href="{{ canonical }}">
        {% else %}
            <link rel="prev" href="{{ canonical }}?page={{ colleges.previous_page_number }}">
        {% endif %}
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>State {{ state.name }} colleges and universities</title>
</head>
<body>
<div class="container-fluid">
    <h1>Colleges and universities of {{ state.name }}</h1>
    <p>Colleges found: {{ colleges.paginator.count }}</p>

    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Level
        </button>
        <div class="dropdown-menu">
            {% for level in levels %}
                <a class="dropdown-item"
                   href="{% url 'college_app:state' state_id %}?inst_level={{ level.0 }}">{{ level.1 }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Religion
        </button>
        <div class="dropdown-menu">
            {% for religion in religions %}
                <a class="dropdown-item"
                   href="{% url 'college_app:state' state_id %}?religous={{ religion.0 }}">{{ religion.1 }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Carnegie Basic
        </button>
        <div class="dropdown-menu">
            {% for basic in basics %}
                <a class="dropdown-item"
                   href="{% url 'college_app:state' state_id %}?carnegie_basic={{ basic.0 }}">{{ basic.1 }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Highest Degree
        </button>
        <div class="dropdown-menu">
            {% for degree in degrees %}
                <a class="dropdown-item"
                   href="{% url 'college_app:state' state_id %}?highest_grad_degree={{ degree.0 }}">{{ degree.1 }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Locale
        </button>
        <div class="dropdown-menu">
            {% for locale in locales %}
                <a class="dropdown-item"
                   href="{% url 'college_app:state' state_id %}?locale={{ locale.0 }}">{{ locale.1 }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Ownership
        </button>
        <div class="dropdown-menu">
            {% for ownership in ownerships %}
                <a class="dropdown-item"
                   href="{% url 'college_app:state' state_id %}?ownership={{ ownership.0 }}">{{ ownership.1 }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            City/town
        </button>
        <div class="dropdown-menu">
            {% for city in cities %}
                <a class="dropdown-item"
                   href="{% url 'college_app:state' state_id %}?city={{ city.1 }}">{{ city.0 }}</a>
            {% endfor %}
        </div>
    </div>

    {% for val in colleges_hist_black %}
        {% if val.hist_black == 1 %}
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Historically black
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'college_app:state' state_id %}?hist_black=0">No</a>
                    <a class="dropdown-item" href="{% url 'college_app:state' state_id %}?hist_black=1">Yes</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% for val in colleges_predom_black %}
        {% if val.predom_black == 1 %}
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Predominantely black
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'college_app:state' state_id %}?predom_black=0">No</a>
                    <a class="dropdown-item" href="{% url 'college_app:state' state_id %}?predom_black=1">Yes</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% for val in colleges_hispanic %}
        {% if val.hispanic == 1 %}
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Hispanic
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'college_app:state' state_id %}?hispanic=0">No</a>
                    <a class="dropdown-item" href="{% url 'college_app:state' state_id %}?hispanic=1">Yes</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% for val in colleges_men_only %}
        {% if val.men_only == 1 %}
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Men-only
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'college_app:state' state_id %}?men_only=0">No</a>
                    <a class="dropdown-item" href="{% url 'college_app:state' state_id %}?men_only=1">Yes</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}


    {% for val in colleges_women_only %}
        {% if val.women_only == 1 %}
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Women-only
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'college_app:state' state_id %}?women_only=0">No</a>
                    <a class="dropdown-item" href="{% url 'college_app:state' state_id %}?women_only=1">Yes</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% for val in colleges_online_only %}
        {% if val.online_only == 1 %}
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Online-only
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'college_app:state' state_id %}?online_only=0">No</a>
                    <a class="dropdown-item" href="{% url 'college_app:state' state_id %}?online_only=1">Yes</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% for val in colleges_cur_operating %}
        {% if val.cur_operating == 1 %}
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Currently operating
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'college_app:state' state_id %}?cur_operating=0">No</a>
                    <a class="dropdown-item" href="{% url 'college_app:state' state_id %}?cur_operating=1">Yes</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% for college in colleges %}
        <p>
            <a href="{% url 'college_app:college' college.id %}">{{ college.name }}</a>
        </p>
    {% endfor %}
    {% if colleges.paginator.num_pages > 1 %}
        <div>
            {% if colleges.has_previous %}
                <a href="{{ base_url }}">&laquo; first</a>
                {% if colleges.previous_page_number == 1 %}
                    <a href="{{ base_url }}">previous</a>
                {% else %}
                    <a href="?page={{ colleges.previous_page_number }}">previous</a>
                {% endif %}
            {% endif %}

            <span>
            Page {{ colleges.number }} of {{ colleges.paginator.num_pages }}.
        </span>

            {% if colleges.has_next %}
                <a href="?page={{ colleges.next_page_number }}">next</a>
                <a href="?page={{ colleges.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </div>
    {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>