$green = #41B3A3
$blue = #00A5D9
$red = #EC7556
$brown = #EDA875
$velvet = #CA829A

.container-fluid
  margin-top 20px

.scrollspy
  position relative

h2
  font-size 150%

h3
  font-size 130%

h4
  font-size 110%

.card
  margin 10px 0px 10px 0px

.card-header
  cursor pointer
  h2
    display inline
  i
    float right
    margin-top 6px

.card-body
  .progress
    height 30px

.top-disciplines
  h3
    text-align center
  .discipline
    margin-bottom 10px
  .progress-bar
    color black
    background-color $blue

.all-disciplines
  h3
    text-align center

.disciplines-container
  max-height 500px
  overflow-y auto

.admission-header
  text-align center
  margin-bottom 15px

.admission-circle
  width 100%
  .c100
    float none
    margin 0px auto 25px auto

.admissions
  .progress
    margin-bottom 10px
  .progress-bar
    color black
    background-color $blue
  h4
    text-align center !important

.no-data
  padding-left 5px

#completion
  h3
    text-align center
    margin-bottom 23px

.completion-circle
  width 100%
  .c100
    float none
    margin 0px auto 25px auto

#demography
  h3
    text-align center
    margin-bottom 23px
  h4
    text-align center
  .progress
    margin-bottom 10px
  .progress-bar
    color black
    background-color $blue

.male
.female
.full-time
.family-income
  width 100%
  .c100
    float none
    margin 0px auto 25px auto

.single-value
  font-weight: bold
  text-align center
  font-size 24px

#earnings
  h3
    text-align center
    margin-bottom 23px

#aid
  h3
    text-align center
    margin-bottom 23px

.grant
.loan
  width 100%
  .c100
    float none
    margin 0px auto 25px auto

#cost
  h3
    text-align center
    margin-bottom 23px

.in-state
.out-state
.net-price
  width 100%
  .c100
    float none
    margin 0px auto 25px auto

.fa-info-circle
  font-size 15px