html {
  position: relative;
  min-height: 100%;
}
body {
  padding: 0px;
  margin: 0px;
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: 130%;
}
h4 {
  font-size: 110%;
}
a {
  color: #0277bd;
}
a :hover {
  color: #01579b;
}
.navbar {
  background-color: #eceff1 !important;
  box-shadow: 1px 1px 0px #cfd8dc;
}
.dropdown-toggle::after {
  border: 0px;
}
.navbar-nav {
  margin-right: 0px;
}
.form-container {
  display: block;
  margin: 15px 15px 15px 15px;
  border: 1px solid #cfd8dc;
  border-radius: 5px;
  padding: 20px;
}
.form-container ul {
  list-style-type: none;
}
.form-header {
  text-align: center;
  margin-bottom: 15px;
  opacity: 0.9;
}
.card {
  border: 1px solid #cfd8dc;
  margin-bottom: 5px;
}
.card-header {
  height: 50px;
  cursor: pointer;
  background-color: #fff;
  border: none;
}
.card-header h3 {
  display: inline-block;
  opacity: 0.9;
}
.card-header i {
  display: inline-block;
  float: right;
  margin-top: 6px;
  opacity: 0.9;
}
.sub-container {
  max-height: 250px;
  width: 100%;
  overflow-y: auto;
  margin: 15px 0px 15px 0px;
}
.sub-container ul {
  padding-left: 0px;
}
.card-body {
  padding: 0px 10px 10px 10px;
}
.card-body h4 {
  text-align: center;
}
.submit-button-container {
  width: 100%;
  margin-top: 15px;
  text-align: center;
}
.submit-button {
  width: 175px;
  color: #37474f !important;
}
.btn-outline-secondary {
  border-color: #cfd8dc;
  color: rgba(0,0,0,0.5);
}
.btn-outline-secondary:hover {
  color: #fff !important;
  background-color: #37474f !important;
}
.icon {
  cursor: pointer;
}
footer {
  width: 100%;
  height: 10%;
}
footer .container {
  margin: 0px auto 0px auto;
  text-align: center;
  width: 100%;
}
footer .container p {
  font-size: 12px;
  margin-bottom: 0px;
}
.header {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  opacity: 0.9;
}
.search {
  border: 1px solid #cfd8dc;
}
.text-container {
  margin-top: 15px;
}
.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}
.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #cfd8dc;
  border-radius: 0.25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: 0.5em;
}
.checkbox .cr .cr-icon {
  position: absolute;
  font-size: 0.8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}
.checkbox label input[type="checkbox"] {
  display: none;
}
.checkbox label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}
.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
}
.checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: 0.5;
}
