html
  position relative
  min-height 100%
  font-family Roboto
body
  padding 0px
  margin 0px

a
  color $blue-link
  :hover
    color $blue-link-hover

h1
  font-size 190%
  color $black-header

h2
  font-size 150%
  color $black-header

h3
  font-size 110%
  color $black-header

h4
  font-size 100%
  color $black-header

.navbar
  background-color white !important
  box-shadow 1px 1px 0px $blue

.navbar-nav
  margin-right 0px

.title-usa
  color $red
.title-usa:hover
  color $red

.title-colleges
  color $black
.title-colleges:hover
  color $black

footer
  width 100%
  background-color #263238
  color white
  align-items: center;
  display: flex;
  flex: 0 1 auto !important;
  flex-wrap: wrap;
  padding: 6px 16px;
  position: relative;
  transition-duration: 0.2s;
  transition-property: background-color, left, right;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow 1px -1px 0px $blue
  .container
    margin 0px auto 0px auto
    text-align center
    width 100%
    p
      font-size 12px
      margin-bottom 0px
  a
    color white
    font-weight bold
  a:hover
    color $blue

#favourite-badge
  background-color $blue-bar

.rotate
    -moz-transition all .5s linear
    -webkit-transition all .5s linear
    transition all .5s linear

.rotate.down
    -moz-transform rotate(180deg)
    -webkit-transform rotate(180deg)
    transform rotate(180deg)