$green = #41B3A3
$blue = rgba(115, 195, 229, 1)
$blue-top = rgba(0, 165, 217, 0.05)
$blue-bottom = rgba(0, 165, 217, 0.1)
$red = #EC7556
$brown = #EDA875
$velvet = #CA829A
$yellow = #C7CA0B
$gold = #f7f7be

h1
  margin-top 15px
  margin-bottom 15px

h3
  font-size 130%

h4
  font-size 110%

.college-container
  margin-bottom 15px

.admission
.completion
  text-align center
  .c100
    float none
    margin 0px auto 0px auto

.fa-info-circle
  font-size 13px

.navbar
  background-color $blue-top !important

.progress
  height 30px
  margin-bottom 10px

.progress-bar
  color black
  background-color $blue

.card
  border 1px solid $blue

.card-header
  border-bottom 1px solid $blue
  background-color $blue-top
  position relative
  p
    margin-bottom 0px

.card-favourite
  border 1px solid $yellow
  .card-header
    border-bottom 1px solid $yellow
    background-color $gold

.list-group-item
  display inline-block
  cursor pointer
  padding 0px
  border 1px solid $blue
  :hover
    background-color $blue
    .dropdown-item
      background-color white !important
  :active
    background-color $blue
    color white

.dropdown-menu
  .dropdown-item:hover
    background-color $blue-bottom !important

.dropright .dropdown-toggle::after
  border none

.dropdown-menu
  width 250px
  max-height 300px
  overflow-y auto
  margin-top 0px
  margin-bottom 0px
  padding-top 0px
  padding-bottom 0px
  border 1px solid $blue
  a
    white-space normal
    cursor pointer

.dropdown-toggle
  width 100%
  height 100%
  background-color white
  z-index 9999

.item-name
  position relative
  top 12px
  text-align center

.item-name:hover
  background-color transparent !important

.reset-button
  width 100%
  margin-bottom 15px

.filters-applied
  margin-bottom 10px

.colleges-count
  margin-bottom 0px

.sort
  width 100%
  border 1px solid $blue
  border-radius 3px
  padding 5px

.sort.dropdown-toggle::after
  margin 0px
  position absolute
  right 10px
  top 15px

.breadcrumb
  background-color white
  padding 0px
  margin-bottom 15px

.bar-no-data
  padding-left 5px

.aggr-label
  display inline-block
  width 120px !important

.aggregate
  h4
    text-align center
    margin-bottom 20px
  div
    p
      text-align center
      max-height 24px
      button
        padding 0px
        border 0px

.dropdown-item
  border-bottom 1px solid $blue
  min-height 48px
  padding-top 12px

.dropdown-item:active
  background-color $blue

.badge
  white-space normal

#map
  width 100%
  height 300px

.aggr-meta
  margin-top 39px

.pagination-phrase
  display inline-block
  width 100%
  text-align center
  margin-bottom 10px

.icon
  cursor pointer

footer
  width 100%
  height 10%
  .container
    margin 15px auto 0px auto
    text-align center
    width 100%
    p
      font-size 12px
      margin-bottom 0px

.search
  border 1px solid $blue

.favourite-button
  color orange
  cursor pointer
  font-size 20px
  display inline-block
  position absolute
  top 12px
  right 12px

.badge-link
  text-decoration none !important

.mapInfo
  p
    margin-bottom 5px

.icon-container
  display inline-block
  width 20px
  float left

@media (max-width: 767.98px)
  .sort
    margin-bottom 15px
  .dropdown-menu
    width 105%
  #list-menu
    margin-bottom 15px
  .aggr-meta
    margin-bottom 10px
    margin-top 10px
  .hor-bars-block
    margin-top 15px