h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}
h3 {
  font-size: 130%;
}
h4 {
  font-size: 110%;
}
.college-container {
  margin-bottom: 15px;
}
.admission,
.completion {
  text-align: center;
}
.admission .c100,
.completion .c100 {
  float: none;
  margin: 0px auto 0px auto;
}
.fa-info-circle {
  font-size: 13px;
}
.progress {
  height: 30px;
  margin-bottom: 10px;
}
.progress-bar {
  color: #000;
  background-color: rgba(0,165,217,0.63);
}
.card-header p {
  margin-bottom: 0px;
}
.list-group-item {
  display: inline-block;
  cursor: pointer;
  padding: 0px;
}
.dropright .dropdown-toggle::after {
  border: none;
}
.dropdown-menu {
  width: 300px;
  max-height: 300px;
  overflow-y: auto;
}
.dropdown-menu a {
  white-space: normal;
  cursor: pointer;
}
.dropdown-toggle {
  width: 100%;
  height: 100%;
}
.item-name {
  position: relative;
  top: 12px;
  text-align: center;
}
.reset-button {
  width: 100%;
  margin-bottom: 15px;
}
.filters-applied {
  margin-bottom: 10px;
}
.colleges-count {
  margin-bottom: 0px;
}
.sort {
  width: 100%;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 3px;
  padding: 5px;
}
.sort.dropdown-toggle::after {
  margin: 0px;
  position: absolute;
  right: 10px;
  top: 15px;
}
.breadcrumb {
  background-color: #fff;
  padding: 0px;
  margin-bottom: 15px;
}
.bar-no-data {
  padding-left: 5px;
}
