$green = #81C784
$blue = #ECEFF1
$blue-link = #0277BD
$blue-link-hover = #01579B
$blue-top = #ECEFF1
$blue-bar = #CFD8DC
$blue-dark = #37474F
$black = #212529
$black-header = #424242
$red = #EC7556
$red-light = #FFAB91
$brown = #EDA875
$velvet = #CA829A
$yellow = #FFCA28
$gold = #FFF8E1
$gold-dark = #FFE082